@import "./vars";

body {
  font-family: "PT Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: $black;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

a {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  color: inherit;
  font-family: inherit;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

.container {
  width: 100%;
  max-width: 167rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.block-title {
  font-size: 3.4rem;
  font-weight: 700;
  line-height: 120%;

  @include breakpoint($sm-bp) {
    font-size: 2.2rem;
  }
}

.swiper-btns {
  display: flex;
  align-items: center;
  gap: 1rem;

  &__btn {
    flex: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.3rem;
    height: 3.2rem;
    border-radius: 50%;
    background-color: $blue;

    &:hover {
      background-color: rgba(55, 56, 154, 1);
    }

    &:focus {
      background-color: rgba(40, 41, 116, 1);
    }

    &._disabled {
      opacity: 0.2;
      pointer-events: none;
    }

    &:first-child {
      svg {
        transform: rotate(180deg);
      }
    }

    svg {
      width: 1.2rem;
      height: 1.2rem;
      fill: $white;
    }
  }
}

.page-title {
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 120%;

  @include breakpoint($sm-bp) {
    font-size: 2.8rem;
  }
}

.page-nav {
  margin: 8rem 0rem 4rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 2rem;

  @include breakpoint($sm-bp) {
    margin: 4rem 0rem 3rem;
    gap: 1rem;
  }

  &__link {
    font-size: 1.6rem;
    color: $black;
    pointer-events: none;

    @include breakpoint($sm-bp) {
      font-size: 1.2rem;
    }

    &:not(:last-child) {
      pointer-events: all;
      color: $grey;
      display: flex;
      align-items: center;
      gap: 2rem;
      transition: 0.3s;

      @include breakpoint($sm-bp) {
        gap: 1rem;
      }

      &:hover {
        color: $blue;
      }

      &::after {
        content: ">";
        color: inherit;
      }
    }
  }
}
