.centers {
  overflow: hidden;

  &__head {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    margin-bottom: 4rem;

    @include breakpoint($sm-bp) {
      flex-direction: column;
      align-items: flex-start;
      gap: 3rem;
      margin-bottom: 3rem;

      .swiper-btns {
        width: 100%;
        justify-content: space-between;
      }
    }
  }

  &-map {
    width: 100%;
    height: 96rem;

    @include breakpoint($sm-bp) {
      height: unset;
    }

    img {
      object-fit: contain;
      object-position: left center;
      width: 100%;
      height: 100%;
    }
  }

  &__btns {
    margin-left: auto;
  }

  &-nav {
    width: calc(100% + 4rem);
    margin-bottom: 6rem;

    @include breakpoint($sm-bp) {
      margin-bottom: 3rem;
    }

    .swiper-wrapper {
      align-items: stretch;
    }

    .swiper-slide {
      padding-right: 4rem;
      height: auto;

      &.swiper-slide-thumb-active {
        .centers-nav-item {
          border-color: $blue;
        }
      }
    }

    &-item {
      height: 100%;
      padding: 2rem;
      border-radius: 2rem;
      background-color: rgba(234, 245, 251, 1);
      display: flex;
      flex-direction: column;
      border: 0.1rem solid transparent;
      transition: 0.3s;
      cursor: pointer;

      &__img {
        width: 100%;
        height: 18rem;
        border-radius: 2rem;
        overflow: hidden;
        margin-bottom: 2rem;

        img {
          object-fit: cover;
          object-position: center;
          width: 100%;
          height: 100%;
        }
      }

      &__title {
        font-size: 1.6rem;
        font-weight: 700;
        margin-bottom: 1rem;
        color: $blue;
      }

      &__text {
        font-size: 1.6rem;
      }
    }
  }

  &-info {
    margin-bottom: 20rem;

    @include breakpoint($sm-bp) {
      margin-bottom: 8rem;
    }

    &-item {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 4rem;

      @include breakpoint($xl-bp) {
        display: flex;
        flex-direction: column;
      }

      @include breakpoint($sm-bp) {
        gap: 3rem;
      }

      &__map {
        width: 100%;
        height: 72rem;
        border-radius: 2rem;
        overflow: hidden;

        @include breakpoint($sm-bp) {
          height: 52rem;
        }
      }

      &__container {
        display: flex;
        flex-direction: column;
      }

      &__inner {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 4rem;
        padding-bottom: 4rem;
        margin-bottom: 4rem;
        border-bottom: 0.1rem solid $blue;

        @include breakpoint($sm-bp) {
          display: flex;
          flex-direction: column-reverse;
          gap: 3rem;
          padding-bottom: 3rem;
          margin-bottom: 3rem;
        }
      }

      &__img {
        width: 100%;
        height: 25rem;
        border-radius: 2rem;
        overflow: hidden;

        @include breakpoint($sm-bp) {
          height: 18rem;
        }

        img {
          object-fit: cover;
          object-position: center;
          width: 100%;
          height: 100%;
        }
      }

      &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.5rem;

        @include breakpoint($sm-bp) {
          gap: 1rem;
        }
      }

      &__title {
        font-size: 3.4rem;
        font-weight: 700;
        line-height: 120%;
        color: $blue;

        @include breakpoint($sm-bp) {
          font-size: 2.2rem;
          line-height: 120%;
        }
      }

      &__link {
        font-size: 1.6rem;
        text-decoration-line: underline;
        color: $blue;

        @include breakpoint($sm-bp) {
          font-size: 1.2rem;
          line-height: normal;
        }
      }

      &-contacts {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        &__title {
          font-size: 1.6rem;
          font-weight: 700;
          color: $blue;

          @include breakpoint($sm-bp) {
            font-size: 1.2rem;
            line-height: normal;
          }
        }

        &__list {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          column-gap: 4rem;
          row-gap: 5rem;

          @include breakpoint($sm-bp) {
            display: flex;
            flex-direction: column;
            gap: 2rem;
          }
        }

        &__item {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 1rem;
          font-size: 1.6rem;
          @include text;

          @include breakpoint($sm-bp) {
            font-size: 1.2rem;
            line-height: normal;
          }
        }
      }
    }
  }
}
