.events {
  margin-bottom: 20rem;

  @include breakpoint($sm-bp) {
    margin-bottom: 8rem;
  }

  &__title {
    margin-bottom: 6rem;

    @include breakpoint($sm-bp) {
      margin-bottom: 2rem;
    }
  }

  &-filter {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    margin-bottom: 4rem;

    @include breakpoint($sm-bp) {
      flex-direction: column;
      gap: 2rem;
      margin-bottom: 3rem;
    }

    &__title {
      font-size: 1.6rem;
      font-weight: 700;
      line-height: normal;

      @include breakpoint($sm-bp) {
        font-size: 1.2rem;
      }
    }

    &__list {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 2rem;
    }

    &__item {
      font-size: 1.6rem;
      font-weight: 400;
      line-height: normal;
      color: $grey;
      transition: 0.5s;
      border: 0.1rem solid $grey;
      padding: 0.1rem 1rem;
      display: flex;
      align-items: center;
      gap: 0;
      border-radius: 0.4rem;
      cursor: pointer;
      user-select: none;

      svg {
        width: 0;
        height: 0;
        stroke: $blue;
        transition: 0.5s;
      }

      input {
        display: none;
      }

      &._checked {
        gap: 1rem;
        border-color: $blue;
        color: $blue;

        svg {
          width: 1.8rem;
          height: 1.8rem;
        }
      }
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem;
    margin-bottom: 6rem;

    @include breakpoint($xl-bp) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    @include breakpoint($sm-bp) {
      grid-template-columns: 1fr;
      gap: 3rem;
      margin-bottom: 3rem;
    }
  }

  &-item {
    display: flex;
    flex-direction: column;
    padding: 4rem;
    border-radius: 2rem;
    background-color: rgba(233, 240, 253, 1);

    @include breakpoint($sm-bp) {
      padding: 2rem;
    }

    &:hover {
      .events-item__img img {
        transform: scale(1.05);
      }

      .events-item__title {
        color: $blue_light;
      }
    }

    &__img {
      width: 100%;
      height: 20rem;
      margin-bottom: 1rem;
      border-radius: 2rem;
      overflow: hidden;

      img {
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%;
        transition: 0.3s;
      }
    }

    &__date {
      font-size: 1.6rem;
      font-weight: 400;
      line-height: normal;
      opacity: 0.4;
      color: $grey;
      margin-bottom: 1rem;

      @include breakpoint($sm-bp) {
        font-size: 1.2rem;
      }
    }

    &__title {
      font-size: 1.6rem;
      font-weight: 700;
      line-height: normal;
      color: $blue;
      margin-bottom: 2rem;
      transition: 0.3s;

      @include breakpoint($sm-bp) {
        font-size: 1.2rem;
      }
    }

    &__text {
      display: flex;
      width: 100%;
      height: 4.4rem;
      flex-direction: column;
      overflow: hidden;
      color: var(--gray-text, #5c5c6b);
      text-overflow: ellipsis;
      whitespace: nowrap;
      font-size: 1.6rem;
      font-family: PT Sans;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      color: $grey;

      @include breakpoint($sm-bp) {
        font-size: 1.2rem;
      }
    }
  }

  &-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include breakpoint($sm-bp) {
      justify-content: center;
    }

    &__link {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      width: 3.2rem;
      height: 3.2rem;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: normal;
      background-color: $white;
      box-shadow: 0px 0px 2rem 0px rgba(27, 27, 30, 0.1);
      transition: 0.3s;

      &:hover {
        box-shadow: 0px 0px 0.8rem 0px rgba(27, 27, 30, 0.1);
      }

      &.events-nav__link_active {
        pointer-events: none;
        color: $blue;
        font-weight: 700;
      }
    }

    &__inner {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2rem;

      @include breakpoint($sm-bp) {
        display: none;
      }
    }

    &__btn {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      width: 3.2rem;
      height: 3.2rem;
      background-color: $blue;
      transition: 0.3s;

      @include breakpoint($sm-bp) {
        display: none;
      }

      &:hover {
        opacity: 0.8;
      }

      svg {
        width: 1.2rem;
        height: 1.2rem;
        fill: $white;
      }

      &:first-child {
        svg {
          transform: rotate(180deg);
        }
      }

      &.events-nav__btn_disabled {
        opacity: 0.2;
        pointer-events: none;
      }
    }

    &__load-btn {
      width: 20rem;
      font-size: 1.2rem;
      font-weight: 400;
      line-height: normal;
      color: $white;
      padding: 1.4rem 1rem;
      background-color: $blue;
      border-radius: 5rem;
      display: none;

      @include breakpoint($sm-bp) {
        display: block;
      }
    }
  }
}
