<section class="addresses">
  <div class="container">

    <div class="page-nav">
      <a href="#" class="page-nav__link">Главная</a>
      <a href="#" class="page-nav__link">Работнику</a>
      <a href="#" class="page-nav__link">Полезные адреса и телефоны</a>
    </div>

    <h1 class="page-title addresses__title">
      Полезные адреса и телефоны
    </h1>

    <ul class="addresses__list">
      <li class="addresses-item">
        <h3 class="addresses-item__title">Единый экстренный канал помощи</h3>
        <div class="addresses-item__info">
          <h3>Телефон:</h3>
          <p>
            112 (с мобильного или стационарного телефона) при возникновении чрезвычайной ситуации, угрозе жизни и
            здоровью;
          </p>
        </div>
      </li>
      <li class="addresses-item">
        <h3 class="addresses-item__title">Скорая помощь</h3>
        <div class="addresses-item__info">
          <h3>Телефон:</h3>
          <p>103 с мобильного телефона, 03 со стационарного телефона</p>
        </div>
      </li>
      <li class="addresses-item">
        <h3 class="addresses-item__title">
          Управление по вопросам миграции ГУ МВД России по г. Санкт-Петербург и Ленинградской области
        </h3>
        <div class="addresses-item__info">
          <h3>Сайт:</h3>
          <a href="#">78.mvd.ru/ms</a>
          <h3>Телефон:</h3>
          <p>
            8 (812) 573-37-22 <br>
            8 (812) 573-30-02
          </p>
        </div>
      </li>
      <li class="addresses-item">
        <h3 class="addresses-item__title">Государственная инспекция труда в Санкт-Петербурге</h3>
        <div class="addresses-item__info">
          <h3>Сайт:</h3>
          <a href="#">git78.rostrud.gov.ru</a>
          <h3>Телефон:</h3>
          <p>Телефон:</p>
        </div>
      </li>
      <li class="addresses-item">
        <h3 class="addresses-item__title">Уполномоченный по правам человека в Санкт-Петербурге</h3>
        <div class="addresses-item__info">
          <h3>Сайт:</h3>
          <a href="#">ombudsmanspb.ru</a>
          <h3>Телефон:</h3>
          <p>8 (812) 241-46-77</p>
        </div>
      </li>
      <li class="addresses-item">
        <h3 class="addresses-item__title">Уполномоченный по правам ребёнка</h3>
        <div class="addresses-item__info">
          <h3>Сайт:</h3>
          <a href="#">spbdeti.org</a>
          <h3>Телефон:</h3>
          <p>8 (812) 576-70-00</p>
        </div>
      </li>
      <li class="addresses-item">
        <h3 class="addresses-item__title">Генеральное консульство Республики Узбекистан в Санкт-Петербурге</h3>
        <div class="addresses-item__info">
          <h3>Сайт:</h3>
          <a href="#">uzbekistanspb.ru</a>
          <h3>Телефон:</h3>
          <p>8 (812) 601-06-28</p>
        </div>
      </li>
      <li class="addresses-item">
        <h3 class="addresses-item__title">Генеральное консульство Республики Таджикистан в Санкт-Петербурге</h3>
        <div class="addresses-item__info">
          <h3>Сайт:</h3>
          <a href="#">tajgenconsspb.ru</a>
          <h3>Телефон:</h3>
          <p>8 (812) 490-47-46</p>
        </div>
      </li>
      <li class="addresses-item">
        <h3 class="addresses-item__title">
          Ассоциация содействия международной трудовой миграции
        </h3>
        <div class="addresses-item__info">
          <h3>Сайт:</h3>
          <a href="#">trudmigratsiya.ru</a>
          <h3>Телефон:</h3>
          <p>8 (812) 955-19-59</p>
        </div>
      </li>
    </ul>

  </div>
</section>