<section class="centers">
  <div class="container">

    <div class="page-nav">
      <a href="#" class="page-nav__link">Главная</a>
      <a href="#" class="page-nav__link">Миграционные центры</a>
    </div>

    <div class="centers__head">
      <h1 class="page-title centers__title">
        Миграционные центры
      </h1>

      <div class="swiper-btns">
        <button type="button" class="swiper-btns__btn swiper-btns__btn_prev">
          <svg>
            <use href="#arrow-icon"></use>
          </svg>
        </button>
        <button type="button" class="swiper-btns__btn swiper-btns__btn_next">
          <svg>
            <use href="#arrow-icon"></use>
          </svg>
        </button>
      </div>
    </div>

    <div class="swiper centers-nav">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="centers-nav-item">
            <div class="centers-nav-item__img">
              <img src="./assets/images/main-office-1.jpg" alt="">
            </div>
            <h4 class="centers-nav-item__title">Миграционный центр «Северный»</h4>
            <p class="centers-nav-item__text">Санкт-Петербург г, Якорная ул, дом №7, литера А</p>
            <template>
              <a href="#" class="centers-info__link">https://clinic-ladya.ru/</a>
              <span class="centers-info__map-src">
                https://yandex.ru/map-widget/v1/?um=constructor%3A19a0672ff560e2f3070ee94d896cdd083af504628d7547c14b934fcc81328434&amp;source=constructor
              </span>
              <div class="centers-info-contacts__item">
                <p>Санкт-Петербург г, Якорная ул, дом №7, литера А</p>
                <p>Тел.: 8 (812) 455-36-96</p>
                <p>Режим работы: пн-пт с 10:00 до 20:00</p>
              </div>
            </template>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="centers-nav-item">
            <div class="centers-nav-item__img">
              <img src="./assets/images/main-office-2.jpg" alt="">
            </div>
            <h4 class="centers-nav-item__title">Миграционный центр «Южный»</h4>
            <p class="centers-nav-item__text">г. Санкт-Петербург г, Кубинская ул., д.77</p>
            <template>
              <a href="#" class="centers-info__link">https://clinic-ladya.ru/</a>
              <span class="centers-info__map-src">
                https://yandex.ru/map-widget/v1/?um=constructor%3A19a0672ff560e2f3070ee94d896cdd083af504628d7547c14b934fcc81328434&amp;source=constructor
              </span>
              <div class="centers-info-contacts__item">
                <p>г. Санкт-Петербург г, Кубинская ул., д.77</p>
                <p>Тел.: 8 (812) 455-36-96</p>
                <p>Режим работы: пн-пт с 10:00 до 20:00</p>
              </div>
            </template>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="centers-nav-item">
            <div class="centers-nav-item__img">
              <img src="./assets/images/main-office-3.jpg" alt="">
            </div>
            <h4 class="centers-nav-item__title">Миграционный центр «Московский»</h4>
            <p class="centers-nav-item__text">Санкт-Петербург, ул. Коли Томчака, 28Б</p>
            <template>
              <a href="#" class="centers-info__link">https://clinic-ladya.ru/</a>
              <span class="centers-info__map-src">
                https://yandex.ru/map-widget/v1/?um=constructor%3A19a0672ff560e2f3070ee94d896cdd083af504628d7547c14b934fcc81328434&amp;source=constructor
              </span>
              <div class="centers-info-contacts__item">
                <p>Санкт-Петербург, ул. Коли Томчака, 28Б</p>
                <p>Тел.: 8 (812) 455-36-96</p>
                <p>Режим работы: пн-пт с 10:00 до 20:00</p>
              </div>
            </template>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="centers-nav-item">
            <div class="centers-nav-item__img">
              <img src="./assets/images/main-office-4.jpg" alt="">
            </div>
            <h4 class="centers-nav-item__title">Миграционный центр «Нарвский»</h4>
            <p class="centers-nav-item__text">Санкт-Петербург, Межевой канал, д.1, лит.А</p>
            <template>
              <a href="#" class="centers-info__link">https://clinic-ladya.ru/</a>
              <span class="centers-info__map-src">
                https://yandex.ru/map-widget/v1/?um=constructor%3A19a0672ff560e2f3070ee94d896cdd083af504628d7547c14b934fcc81328434&amp;source=constructor
              </span>
              <div class="centers-info-contacts__item">
                <p>Санкт-Петербург, Межевой канал, д.1, лит.А</p>
                <p>Тел.: 8 (812) 455-36-96</p>
                <p>Режим работы: пн-пт с 10:00 до 20:00</p>
              </div>
            </template>
          </div>
        </div>
      </div>
    </div>

    <div class="centers-info">
      <template class="centers-info__template">
        <div class="centers-info__container">
          <div class="centers-info__inner">
            <div class="centers-info__img">
              <img src="" alt="">
            </div>

            <div class="centers-info__content">
              <h4 class="centers-info__title">
              </h4>

              <a href="#" class="centers-info__link"></a>
            </div>
          </div>

          <div class="centers-info-contacts">
            <h3 class="centers-info-contacts__title">Контактные данные центра</h3>

            <div class="centers-info-contacts__list">
              <!-- <div class="centers-info-contacts__item">
                <p>Санкт-Петербург г, Якорная ул, дом №7, литера А</p>
                <p>Тел.: 8 (812) 455-36-96</p>
                <p>Режим работы: пн-пт с 10:00 до 20:00</p>
              </div> -->
            </div>
          </div>
        </div>

        <div class="centers-info__map">
          <iframe src="" width="100%" height="100%" frameborder="0"></iframe>
        </div>
      </template>
    </div>

  </div>
</section>