<section class="contacts">
  <div class="container">

    <div class="page-nav">
      <a href="#" class="page-nav__link">Главная</a>
      <a href="#" class="page-nav__link">Контакты</a>
    </div>

    <h1 class="page-title contacts__title">
      Контакты
    </h1>

    <div class="contacts__container">
      <div class="contacts-info">
        <div class="contacts-info__head">
          <div class="contacts-info__item">
            <h4 class="contacts-info__title">Адрес:</h4>
            <p class="contacts-info__text">
              197022, г. Санкт-Петербург, Каменноостровский проспект, дом 44Б, литер А, помещение 23Н
            </p>
          </div>
          <div class="contacts-info__item">
            <h4 class="contacts-info__title">Телефон:</h4>
            <p class="contacts-info__text">
              8 (812) 955-19-59
            </p>
          </div>
          <div class="contacts-info__item">
            <h4 class="contacts-info__title">Почта:</h4>
            <p class="contacts-info__text">
              info@trudmigratsiya.ru
            </p>
          </div>
        </div>
        <div class="contacts-info__general">
          <p>
            <strong>ОГРН:</strong> 1197800002290
          </p>
          <p>
            <strong>ИНН:</strong> 7813635176 / КПП: 781301001
          </p>
          <p>
            <strong>Руководитель:</strong> Президент Ассоциации Демина Елена Николаевна
          </p>
        </div>
      </div>
      <div class="contacts__map">
        <iframe
          src="https://yandex.ru/map-widget/v1/?um=constructor%3Af84c91f7c42022d7240a74e9f747ed398ac36c6213711dbf2b95c5a535b90d18&amp;source=constructor"
          width="100%" height="100%" frameborder="0"></iframe>
      </div>
      <form action="#" class="contacts-form">
        <div class="contacts-form__inner">
          <h3 class="contacts-form__title">Задать вопрос</h3>
          <p class="contacts-form__text">
            Оставьте заявку, мы свяжемся с вами в ближайшее время и ответим на все интересующие вопросы
          </p>
        </div>

        <div class="contacts-form__inner">
          <input type="text" class="contacts-form__input" placeholder="Имя">
          <input type="text" class="contacts-form__input" placeholder="Номер телефона">
        </div>

        <button type="submit" class="main-top-btn contacts-form__btn">
          Отправить
          <span class="main-top-btn__icon">
            <svg>
              <use href="#arrow-icon"></use>
            </svg>
          </span>
        </button>
      </form>
    </div>

  </div>
</section>