<section class="docs">
  <div class="container">

    <div class="page-nav">
      <a href="#" class="page-nav__link">Главная</a>
      <a href="#" class="page-nav__link">Документы</a>
    </div>

    <h1 class="page-title docs__title">
      Документы-основания деятельности
    </h1>

    <div class="docs__list">
      <a href="#" class="docs-item">
        <svg>
          <use href="#deal-icon"></use>
        </svg>
        Устав Ассоциации
      </a>
      <a href="#" class="docs-item">
        <svg>
          <use href="#deal-icon"></use>
        </svg>
        Свидетельство о государственной регистрации
      </a>
      <a href="#" class="docs-item">
        <svg>
          <use href="#deal-icon"></use>
        </svg>
        Положение о членах
      </a>
      <a href="#" class="docs-item">
        <svg>
          <use href="#deal-icon"></use>
        </svg>
        Соглашение между Правительством Российской Федерации и Правительством Республики Узбекистан об организованном
        наборе и привлечении граждан Республики Узбекистан для осуществления временной трудовой деятельности на
        территории Российской Федерации
      </a>
      <a href="#" class="docs-item">
        <svg>
          <use href="#deal-icon"></use>
        </svg>
        Соглашение между Российской Федерацией и Республикой Таджикистан о порядке пребывания граждан Республики
        Таджикистан на территории Российской Федерации
      </a>
      <a href="#" class="docs-item">
        <svg>
          <use href="#deal-icon"></use>
        </svg>
        Соглашение между Российской Федерацией и Республикой Беларусь об обеспечении равных прав граждан РФ и РБ на
        свободу передвижения, выбор места пребывания и жительства на территориях государств - участников союзного
        государства
      </a>
      <a href="#" class="docs-item">
        <svg>
          <use href="#deal-icon"></use>
        </svg>
        Соглашение между правительством Российской Федерации и правительством Государства Израиль об отказе от визовых
        требований при взаимных поездках граждан Российской Федерации и граждан Государства Израиль
      </a>
      <a href="#" class="docs-item">
        <svg>
          <use href="#deal-icon"></use>
        </svg>
        Соглашение между Российской Федерацией и Киргизской Республикой о порядке пребывания граждан Российской
        Федерации на территории Киргизской Республики и граждан Киргизской Республики на территории Российской Федерации
      </a>
      <a href="#" class="docs-item">
        <svg>
          <use href="#deal-icon"></use>
        </svg>
        Соглашение между Российской Федерацией и Республикой Казахстан о порядке пребывания граждан Российской Федерации
        на территории Республики Казахстан и граждан Республики Казахстан на территории Российской Федерации
      </a>
      <a href="#" class="docs-item">
        <svg>
          <use href="#deal-icon"></use>
        </svg>
        Соглашение между правительством Российской Федерации и правительством республики Армения о порядке пребывания
        граждан российской федерации на территории Республики Армения и граждан Республики Армения на территории
        Российской Федерации
      </a>
    </div>

  </div>
</section>