<section class="events">
  <div class="container">

    <div class="page-nav">
      <a href="#" class="page-nav__link">Главная</a>
      <a href="#" class="page-nav__link">Новости</a>
    </div>

    <h1 class="page-title events__title">
      Новости
    </h1>

    <div class="events-filter">
      <h4 class="events-filter__title">Теги:</h4>

      <div class="events-filter__list">
        <label class="events-filter__item">
          выбранный тег
          <svg>
            <use href="#menu-close-icon"></use>
          </svg>
          <input type="checkbox" checked>
        </label>
        <label class="events-filter__item">
          выбранный тег
          <svg>
            <use href="#menu-close-icon"></use>
          </svg>
          <input type="checkbox" checked>
        </label>
        <label class="events-filter__item">
          тег
          <svg>
            <use href="#menu-close-icon"></use>
          </svg>
          <input type="checkbox">
        </label>
        <label class="events-filter__item">
          тег
          <svg>
            <use href="#menu-close-icon"></use>
          </svg>
          <input type="checkbox">
        </label>
        <label class="events-filter__item">
          тег
          <svg>
            <use href="#menu-close-icon"></use>
          </svg>
          <input type="checkbox">
        </label>
        <label class="events-filter__item">
          тег
          <svg>
            <use href="#menu-close-icon"></use>
          </svg>
          <input type="checkbox">
        </label>
      </div>
    </div>

    <div class="events__list">
      <a href="#" class="events-item">
        <div class="events-item__img">
          <img src="./assets/images/events-1.jpg" alt="">
        </div>
        <span class="events-item__date">08.03.2023</span>
        <h4 class="events-item__title">
          Таджикистан попросит у РФ $20 млн на учебники для русскоязычных школ
        </h4>
        <p class="events-item__text">
          Таджикистан занимается подготовкой проекта на 20 млн американских долларов по изданию учебников для средних
          школ, включая русскоязычные. Об этом сообщает РИА Новости.
        </p>
      </a>
      <a href="#" class="events-item">
        <div class="events-item__img">
          <img src="./assets/images/events-2.jpg" alt="">
        </div>
        <span class="events-item__date">08.03.2023</span>
        <h4 class="events-item__title">
          Главы МИД Узбекистана и России провели встречу в Самарканде
        </h4>
        <p class="events-item__text">
          Таджикистан занимается подготовкой проекта на 20 млн американских долларов по изданию учебников для средних
          школ, включая русскоязычные. Об этом сообщает РИА Новости.
        </p>
      </a>
      <a href="#" class="events-item">
        <div class="events-item__img">
          <img src="./assets/images/events-3.jpg" alt="">
        </div>
        <span class="events-item__date">08.03.2023</span>
        <h4 class="events-item__title">
          Таджикистан попросит у РФ $20 млн на учебники для русскоязычных школ
        </h4>
        <p class="events-item__text">
          Таджикистан занимается подготовкой проекта на 20 млн американских долларов по изданию учебников для средних
          школ, включая русскоязычные. Об этом сообщает РИА Новости.
        </p>
      </a>
      <a href="#" class="events-item">
        <div class="events-item__img">
          <img src="./assets/images/events-4.jpg" alt="">
        </div>
        <span class="events-item__date">08.03.2023</span>
        <h4 class="events-item__title">
          Главы МИД Узбекистана и России провели встречу в Самарканде
        </h4>
        <p class="events-item__text">
          Таджикистан занимается подготовкой проекта на 20 млн американских долларов по изданию учебников для средних
          школ, включая русскоязычные. Об этом сообщает РИА Новости.
        </p>
      </a>
      <a href="#" class="events-item">
        <div class="events-item__img">
          <img src="./assets/images/events-3.jpg" alt="">
        </div>
        <span class="events-item__date">08.03.2023</span>
        <h4 class="events-item__title">
          Таджикистан попросит у РФ $20 млн на учебники для русскоязычных школ
        </h4>
        <p class="events-item__text">
          Таджикистан занимается подготовкой проекта на 20 млн американских долларов по изданию учебников для средних
          школ, включая русскоязычные. Об этом сообщает РИА Новости.
        </p>
      </a>
      <a href="#" class="events-item">
        <div class="events-item__img">
          <img src="./assets/images/events-4.jpg" alt="">
        </div>
        <span class="events-item__date">08.03.2023</span>
        <h4 class="events-item__title">
          Главы МИД Узбекистана и России провели встречу в Самарканде
        </h4>
        <p class="events-item__text">
          Таджикистан занимается подготовкой проекта на 20 млн американских долларов по изданию учебников для средних
          школ, включая русскоязычные. Об этом сообщает РИА Новости.
        </p>
      </a>
      <a href="#" class="events-item">
        <div class="events-item__img">
          <img src="./assets/images/events-2.jpg" alt="">
        </div>
        <span class="events-item__date">08.03.2023</span>
        <h4 class="events-item__title">
          Главы МИД Узбекистана и России провели встречу в Самарканде
        </h4>
        <p class="events-item__text">
          Таджикистан занимается подготовкой проекта на 20 млн американских долларов по изданию учебников для средних
          школ, включая русскоязычные. Об этом сообщает РИА Новости.
        </p>
      </a>
      <a href="#" class="events-item">
        <div class="events-item__img">
          <img src="./assets/images/events-1.jpg" alt="">
        </div>
        <span class="events-item__date">08.03.2023</span>
        <h4 class="events-item__title">
          Таджикистан попросит у РФ $20 млн на учебники для русскоязычных школ
        </h4>
        <p class="events-item__text">
          Таджикистан занимается подготовкой проекта на 20 млн американских долларов по изданию учебников для средних
          школ, включая русскоязычные. Об этом сообщает РИА Новости.
        </p>
      </a>
    </div>

    <div class="events-nav">
      <a href="#" class="events-nav__btn events-nav__btn_disabled">
        <svg>
          <use href="#arrow-icon"></use>
        </svg>
      </a>

      <div class="events-nav__inner">
        <a href="#" class="events-nav__link events-nav__link_active">1</a>
        <a href="#" class="events-nav__link">2</a>
        <a href="#" class="events-nav__link">3</a>
        <a href="#" class="events-nav__link">...</a>
        <a href="#" class="events-nav__link">18</a>
      </div>

      <a href="#" class="events-nav__btn">
        <svg>
          <use href="#arrow-icon"></use>
        </svg>
      </a>

      <button type="button" class="events-nav__load-btn">Загрузить еще</button>
    </div>

  </div>
</section>