<section class="info">
  <div class="container">

    <div class="page-nav">
      <a href="#" class="page-nav__link">Главная</a>
      <a href="#" class="page-nav__link">Работнику</a>
    </div>

    <h1 class="page-title info__title">
      Работнику
    </h1>

    <div class="info__list">
      <a href="#" class="info-item">
        <div class="info-item__head">
          <div class="info-item__icon">
            <svg>
              <use href="#pravo-icon"></use>
            </svg>
          </div>
          <h3 class="info-item__title">
            Правовая информация
          </h3>
        </div>
        <p class="info-item__text">
          Политика обработки персональных данных посетителей Портала Ассоциации содействия международной трудовой
          миграции (далее по тексту – Политика)
        </p>
      </a>
      <a href="#" class="info-item">
        <div class="info-item__head">
          <div class="info-item__icon">
            <svg>
              <use href="#questions-icon"></use>
            </svg>
          </div>
          <h3 class="info-item__title">
            Часто задаваемые вопросы
          </h3>
        </div>
        <p class="info-item__text">
          Политика обработки персональных данных посетителей Портала Ассоциации содействия международной трудовой
          миграции (далее по тексту – Политика)
        </p>
      </a>
      <a href="#" class="info-item">
        <div class="info-item__head">
          <div class="info-item__icon">
            <svg>
              <use href="#information-icon"></use>
            </svg>
          </div>
          <h3 class="info-item__title">
            Информационные материалы
          </h3>
        </div>
        <p class="info-item__text">
          Политика обработки персональных данных посетителей Портала Ассоциации содействия международной трудовой
          миграции (далее по тексту – Политика)
        </p>
      </a>
      <a href="#" class="info-item">
        <div class="info-item__head">
          <div class="info-item__icon">
            <svg>
              <use href="#adress-icon"></use>
            </svg>
          </div>
          <h3 class="info-item__title">
            Полезные адреса и телефоны
          </h3>
        </div>
        <p class="info-item__text">
          Политика обработки персональных данных посетителей Портала Ассоциации содействия международной трудовой
          миграции (далее по тексту – Политика)
        </p>
      </a>
      <a href="#" class="info-item">
        <div class="info-item__head">
          <div class="info-item__icon">
            <svg>
              <use href="#ndfl-icon"></use>
            </svg>
          </div>
          <h3 class="info-item__title">
            Как оплатить ндфл по qr -код
          </h3>
        </div>
        <p class="info-item__text">
          Политика обработки персональных данных посетителей Портала Ассоциации содействия международной трудовой
          миграции (далее по тексту – Политика)
        </p>
      </a>
      <a href="#" class="info-item">
        <div class="info-item__head">
          <div class="info-item__icon">
            <svg>
              <use href="#reciept-icon"></use>
            </svg>
          </div>
          <h3 class="info-item__title">
            Проверка чеков
          </h3>
        </div>
        <p class="info-item__text">
          Политика обработки персональных данных посетителей Портала Ассоциации содействия международной трудовой
          миграции (далее по тексту – Политика)
        </p>
      </a>
      <a href="#" class="info-item">
        <div class="info-item__head">
          <div class="info-item__icon">
            <svg>
              <use href="#vacancy-icon"></use>
            </svg>
          </div>
          <h3 class="info-item__title">
            Вакансии
          </h3>
        </div>
        <p class="info-item__text">
          Политика обработки персональных данных посетителей Портала Ассоциации содействия международной трудовой
          миграции (далее по тексту – Политика)
        </p>
      </a>
      <a href="#" class="info-item">
        <div class="info-item__head">
          <div class="info-item__icon">
            <svg>
              <use href="#advice-icon"></use>
            </svg>
          </div>
          <h3 class="info-item__title">
            Полезные советы трудовому мигранту 
          </h3>
        </div>
        <p class="info-item__text">
          Политика обработки персональных данных посетителей Портала Ассоциации содействия международной трудовой
          миграции (далее по тексту – Политика)
        </p>
      </a>
      <a href="#" class="info-item">
        <div class="info-item__head">
          <div class="info-item__icon">
            <svg>
              <use href="#important-icon"></use>
            </svg>
          </div>
          <h3 class="info-item__title">
            Важно! Изменились реквизиты для уплаты налога за патент
          </h3>
        </div>
        <p class="info-item__text">
          Политика обработки персональных данных посетителей Портала Ассоциации содействия международной трудовой
          миграции (далее по тексту – Политика)
        </p>
      </a>
    </div>

  </div>
</section>