<section class="legal">
  <div class="container">

    <div class="page-nav">
      <a href="#" class="page-nav__link">Главная</a>
      <a href="#" class="page-nav__link">Политика обработки персональных данных</a>
    </div>

    <h1 class="page-title legal__title">
      Политика обработки персональных данных
    </h1>

    <div class="legal__container">
      <div class="legal__item">
        <h3>1. ОБЩИЕ ПОЛОЖЕНИЯ</h3>
        <p>
          1.1 Политика обработки персональных данных посетителей Портала Ассоциации содействия международной трудовой
          миграции (далее по тексту – Политика) регламентирует порядок обработки персональных данных посетителей Портала
          Ассоциации содействия международной трудовой миграции (далее по тексту – Ассоциация), получаемых через форму
          обратной связи на Портале:http://trudmigratsiya.ru.1.2 Обработка и защита персональных данных в Ассоциации
          определяется в соответствии со следующими нормативными правовыми актами:
        </p>
        <ul>
          <li>
            Конституция Российской Федерации;
          </li>
          <li>
            Федеральный закон от 27 июля 2006 г. № 152-ФЗ «О персональных данных»;
          </li>
          <li>
            Постановление Правительства Российской Федерации от 1 ноября 2012 г. № 1119 «Об утверждении требований к
            защите персональных данных при их обработке в информационных системах персональных данных»;
          </li>
          <li>
            Приказ Федеральной службы по техническому и экспортному контролю от 18 февраля 2013 г. № 21 «Об утверждении
            состава и содержания организационных и технических мер по обеспечению безопасности персональных данных при
            их обработке в информационных системах персональных данных»;
          </li>
          <li>
            Приказ Роскомнадзора от 05 сентября 2013 г. № 996 «Об утверждении требований и методов по обезличиванию
            персональных данных»;
          </li>
        </ul>
        <p>
          1.3 Политика определяет основные принципы, цели, условия и способы обработки персональных данных, перечень
          обрабатываемых Ассоциацией персональных данных, функции Ассоциации при обработке персональных данных, права
          субъектов персональных данных, а также реализуемые в Ассоциацией требования к защите персональных данных.1.4
          Термины и определения, использующиеся в тексте Политики:
        </p>
        <ul>
          <li>
            Автоматизированная обработка персональных данных – обработка персональных данных с помощью средств
            вычислительной техники;
          </li>
          <li>
            Блокирование персональных данных - временное прекращение обработки персональных данных (за исключением
            случаев, если обработка необходима для уточнения персональных данных);
          </li>
          <li>
            Субъект персональных данных, Посетитель Портала - физическое лицо, которое обратилось в Ассоциацию через
            форму обратной связи, размещенной на Портале;
          </li>
          <li>
            Информационная система персональных данных - совокупность содержащихся в базах данных персональных данных,
            обеспечивающих их обработку информационных технологий и технических средств;
          </li>
          <li>
            Обезличивание персональных данных - действия, в результате которых невозможно определить без использования
            дополнительной информации принадлежность персональных данных конкретному субъекту персональных данных;
          </li>
          <li>
            Обработка персональных данных - любое действие (операция) или совокупность действий (операций), совершаемых
            с использованием средств автоматизации или без использования таких средств с персональными данными, включая
            сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение,
            использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление,
            уничтожение персональных данных;
          </li>
          <li>
            Оператор - государственный орган, муниципальный орган, юридическое или физическое лицо, самостоятельно или
            совместно с другими лицами организующие и (или) осуществляющие обработку персональных данных, а также
            определяющие цели обработки персональных данных, состав персональных данных, подлежащих обработке, действия
            (операции), совершаемые с персональными данными;
          </li>
          <li>
            Персональные данные – любая информация, относящаяся к прямо или косвенно определенному физическому лицу
            (субъекту персональных данных);
          </li>
          <li>
            Портал – веб-сайт, расположенный сети Интернет по адресу: http://trudmigratsiya.ru.
          </li>
          <li>
            Конфиденциальность персональных данных – режим обеспечения нераспространения персональных данных Оператором
            и иными лицами, получившими доступ к персональным данным, заключающийся в отказе от распространения
            персональных данных без согласия субъекта персональных данных, если иное не предусмотрено законом.
          </li>
        </ul>
      </div>

      <div class="legal__item">
        <h3>2. ЦЕЛИ ОБРАБОТКИ ПЕРСОНАЛЬНЫХ ДАННЫХ</h3>
        <p>2.1 Целью обработки персональных данных Ассоциацией является:</p>
        <p>2.1.1.Обеспечение доступа к Порталу;</p>
        <p>2.1.2 Получение сообщений, оставленных посетителями Портала через форму обратной связи, размещенной на
          Портале Ассоциации;</p>
        <p>2.1.3 Предоставление запрашиваемой Посетителем Портала информации по каналам обратной связи;</p>
        <p>2.1.4. Учет посетителей Портала;</p>
        <p>
          2.1.5 Обеспечение работоспособности и безопасности Портала, подтверждение совершаемых Посетителями Портала
          действий, предотвращение случаев мошенничества, кибератак и других злоупотреблений, а также для расследования
          таких случаев;
        </p>
        <p>2.1.6 В иных законных целях в соответствии с нормами действующего законодательства Российской Федерации.</p>
        <p>2.2 Не допускается обработка персональных данных, несовместимая с целями сбора персональных данных.</p>
      </div>

      <div class="legal__item">
        <h3>3. ПРАВОВЫЕ ОСНОВАНИЯ ОБРАБОТКИ ПЕРСОНАЛЬНЫХ ДАННЫХ</h3>
        <p>
          3.1 Правовым основанием к обработке персональных данных является согласие субъекта персональных данных,
          подтвержденное на Портале Ассоциации при обращении Посетителя Портала через форму обратной связи, размещенную
          на Портале по адресу: http://trudmigratsiya.ru/forma-obratnoj-svyazi.html.
        </p>
      </div>

      <div class="legal__item">
        <h3>
          4. ОБЪЕМ И КАТЕГОРИИ ОБРАБАТЫВАЕМЫХ ПЕРСОНАЛЬНЫХ ДАННЫХ, КАТЕГОРИИ СУБЪЕКТОВ ПЕРСОНАЛЬНЫХ ДАННЫХ
        </h3>
        <p>
          4.1 Оператор в связи с обращением посетителей Портала обрабатывает следующие категории персональных данных:
        </p>
        <ul>
          <li>Имя;</li>
          <li>Номер телефона;</li>
          <li>Адрес электронной почты;</li>
        </ul>
        <p>4.2 Кроме того, Оператору в связи с активностью Посетителя Портала доступна следующая информация:</p>
        <ul>
          <li>
            Данные о технических средствах (устройствах): вид операционной системы, тип устройства (персональный
            компьютер, мобильный телефон, планшет), тип браузера, географическое положение;
          </li>
          <li>
            Информация, полученная в результате действий Посетителя Портала, в том числе сведения о направленных
            комментариях, запросах, отзывах и вопросах.
          </li>
        </ul>
        <p>
          4.3 Полученная информация может анализироваться Ассоциацией в обезличенном виде для анализа посещаемости
          Портала, выработки предложений по его оптимизации и развитию.
        </p>
        <p>
          4.4 Ассоциация осуществляет обработку персональных данных с использованием средств автоматизации.
        </p>
      </div>

      <div class="legal__item">
        <h3>
          5. ПРИНЦИПЫ ОБРАБОТКИ ПЕРСОНАЛЬНЫХ ДАННЫХ
        </h3>
        <p>
          5.1 Обработка персональных данных осуществляется Ассоциацией с учетом необходимости обеспечения защиты прав и
          свобод субъектов персональных данных, в том числе защиты права на неприкосновенность частной жизни, личную и
          семейную тайну, на основе следующих принципов:
        </p>
        <ul>
          <li>
            Законность, справедливость, прозрачность - обработка персональных данных осуществляется Ассоциацией на
            законной и справедливой основе с соблюдением принципа прозрачности для субъекта персональных данных;
          </li>
          <li>
            Минимизация данных - обработка персональных данных ограничивается достижением конкретных, заранее
            определенных и законных целей;
          </li>
          <li>
            Ограничение цели - не допускается обработка персональных данных, несовместимая с целями сбора персональных
            данных, обработке подлежат только персональные данные, которые отвечают целям их обработки, содержание и
            объем обрабатываемых персональных данных соответствует заявленным целям обработки, не допускается
            избыточность обрабатываемых персональных данных по отношению к заявленным целям их обработки;
          </li>
          <li>
            Точность - при обработке персональных данных обеспечиваются точность персональных данных, их достаточность,
            а в необходимых случаях - и актуальность по отношению к целям обработки персональных данных, Ассоциацией
            принимаются необходимые меры по удалению, уточнению неполных или неточных персональных данных;
          </li>
          <li>
            Ограничение хранения - хранение персональных данных осуществляется в форме, позволяющей определить субъекта
            персональных данных, не дольше, чем того требуют цели обработки персональных данных, если срок хранения
            персональных данных не установлен федеральным законом, договором, стороной которого, выгодоприобретателем
            или поручителем по которому является субъект персональных данных, обрабатываемые персональные данные
            уничтожаются либо обезличиваются по достижении целей обработки или в случае утраты необходимости в
            достижении этих целей, если иное не предусмотрено федеральным законом;
          </li>
          <li>
            Целостность и конфиденциальность - обеспечение надлежащего уровня защиты обрабатываемых персональных данных,
            в том числе защиты от несанкционированной или незаконной обработки, а также от случайной потери, уничтожения
            или повреждения;
          </li>
        </ul>
        <p>
          5.2.В рамках соответствия требованиям Законодательства РФ о персональных данных, согласие на обработку
          персональных данных должно быть:
        </p>
        <ul>
          <li>
            Предоставленным свободно и по собственной воле субъектом персональных данных;
          </li>
          <li>
            Конкретным, т.е. полученным на каждое действие по обработке персональных данных;
          </li>
          <li>
            Информационным, т.е. полученным при условии предоставления информации субъекту персональных данных
            необходимой информации о целях сбора персональных данных, сведений о сроках хранения, условиях
            трансграничной передачи данных, в том числе о возможности отзыва своего согласия на обработку персональных
            данных Ассоциацией;
          </li>
          <li>
            Однозначным изъявлением желания субъекта предоставить свои персональные данные Асоциации в виде
            утвердительного акта;
          </li>
          <li>
            Явным, в случаях, когда возникает риск нарушения прав субъекта персональных данных и требуется особенный
            контроль над персональными данными;
          </li>
          <li>
            Доказуемым, т.е. сопряженным с возможностью Ассоциации предоставить доказательства дачи согласия субъекта
            персональных данных на их обработку;
          </li>
          <li>
            Отзываемым, т.е. предусматривающим возможность субъекта персональных данных в любое согласие бесплатно
            отозвать свое согласие на обработку персональных данных, не влияющим на законность обработки, основанной на
            согласии до его отзыва.
          </li>
        </ul>
        <p>
          5.3 Ассоциация не обрабатывает персональные данные о расовой, национальной принадлежности, политических
          взглядах, религиозных и философских убеждениях, состоянии здоровья, интимной жизни Посетителей Портала.
        </p>
      </div>

      <div class="legal__item">
        <h3>
          6. УСЛОВИЯ ОБРАБОТКИ И ХРАНЕНИЯ ПЕРСОНАЛЬНЫХ ДАННЫХ
        </h3>
        <p>
          6.1 Пользователь выражает свое согласие на обработку его персональных данных Ассоциацией, заполняя поля,
          подразумевающие ввод персональных данных, и устанавливая «галочку» на соответствующем поле на Портале при
          заполнении формы обратной связи, размещенной по ссылке: http://trudmigratsiya.ru/forma-obratnoj-svyazi.html:
        </p>
        <p>
          «Даю свое согласие, чтобы Ассоциация содействия международной трудовой миграции могла связываться со мной по
          электронной почте, телефону, а также я предоставляю согласие на обработку моих персональных данных, а именно:
          имя, номер телефона, адрес электронной почты в целях предоставления запрашиваемой мной информации по каналу
          обратной связи, размещенной на Портале. Я прочитал Политику обработки персональных данных посетителей Портала
          Ассоциация содействия международной трудовой миграции и согласен с ее положениями в полном объеме, в том числе
          мне известен и понятен порядок отзыва настоящего согласия, в случае, когда я сочту данное действие
          необходимым».
        </p>
        <p>
          6.2 Кроме того, на Портале осуществляется автоматический сбор информации с помощью технологий и сервисов:
          веб-протоколы, веб-отметки, которые запускаются только при вводе Пользователем Портала своих данных.6.3
          Ассоциация без согласия субъекта персональных данных не раскрывает третьим лицам и не распространяет
          персональные данные, если иное не предусмотрено законодательством РФ.6.4 Доступ к обрабатываемым персональным
          данным разрешается только работникам Ассоциации, занимающим должности, включенные в перечень должностей
          Ассоциации, при замещении которых осуществляется обработка персональных данных.6.5 Персональные данные
          подлежат уничтожению по достижении целей обработки или в случае утраты необходимости обработки в достижении
          таких целей.
        </p>
      </div>

      <div class="legal__item">
        <h3>7. СРОКИ ХРАНЕНИЯ УСЛОВИЯ УНИЧТОЖЕНИЯ ПЕРСОНАЛЬНЫХ ДАННЫХ</h3>
        <p>7.1 Сроки обработки персональных данных определены с учетом:</p>
        <p>7.1.1 Установленных целей обработки персональных данных;</p>
        <p>7.1.2 Сроков согласия субъекта персональных данных на обработку их персональных данных;</p>
        <p>7.2 Ассоциация прекращает обработку персональных данных в следующих случаях:</p>
        <p>7.2.1 При наступлении условий прекращения обработки персональных данных или по истечении установленных
          сроков;</p>
        <p>7.2.2 По достижении целей их обработки либо в случае утраты необходимости в достижении этих целей;</p>
        <p>
          7.2.3 По требованию субъекта персональных данных, если обрабатываемые Ассоциацией персональные данные являются
          неполными, устаревшими, неточными, незаконно полученными или не являются необходимыми для заявленной цели
          обработки. Такое требование направляется по адресу:
          <a href="mailto:office@trudmigratsiya.ru">office@trudmigratsiya.ru</a>.
        </p>
        <p>
          7.2.4 В случае отзыва субъектом персональных данных согласия на обработку его персональных данных или
          истечения срока действия такого согласия;
        </p>
        <p>7.2.5 В случае наличия угрозы безопасности Портала;</p>
        <p>7.2.6 В случае ликвидации Ассоциации.</p>
      </div>

      <div class="legal__item">
        <h3>8. ПРАВА СУБЪЕКТОВ ПЕРСОНАЛЬНЫХ ДАННЫХ</h3>
        <p>8.1 Субъект персональных данных имеет право на:</p>
        <p>8.1.1 Получение полной информации о его персональных данных, обрабатываемых Ассоциацией;</p>
        <p>
          8.1.2 Уточнение своих персональных данных, их блокирование или уничтожение в случае, если персональные данные
          являются неполными, устаревшими, неточными, незаконно полученными или не являются необходимыми для заявленной
          цели обработки;
        </p>
        <p>8.1.3 Отзыв согласия на обработку персональных данных полностью или частично;</p>
        <p>8.1.4 Принятие предусмотренных законом мер по защите своих прав;</p>
        <p>8.1.5 Осуществление иных прав, предусмотренных законодательством Российской Федерации.</p>
        <p>
          8.2 Субъект персональных данных имеет право на получение информации, касающейся обработки его персональных
          данных, в том числе содержащей:
        </p>
        <p>8.2.1 Подтверждение факта обработки его персональных данных;</p>
        <p>8.2.2 Правовые основания и цели обработки персональных данных;</p>
        <p>8.2.3 Цели и применяемые Ассоциацией способы обработки персональных данных;</p>
        <p>
          8.2.4 Обрабатываемые персональные данные, относящиеся к соответствующему субъекту персональных данных,
          источник их получения, если иной порядок представления таких данных не предусмотрен законом;
        </p>
        <p>
          8.2.5 Сроки обработки персональных данных, в том числе сроки их хранения.
        </p>
      </div>

      <div class="legal__item">
        <h3>9. ОБЯЗАННОСТИ ОПЕРАТОРА ПРИ ОБРАБОТКЕ ПЕРСОНАЛЬНЫХ ДАННЫХ</h3>
        <p>
          9.1 При работе с персональными данными Посетителей Портала Ассоциация обязана:
        </p>
        <p>
          9.1.1 Предоставлять по запросу Посетителя Портала информацию об обработке его персональных данных или
          обоснованный отказ в предоставлении таких данных. Запрос интересующей Посетителя Портала информации
          направляется по адресу электронной почты: office@trudmigratsiya.ru. Ответ Ассоциации на данный запрос
          осуществляется на адрес электронной почты Посетителя Портала, с которой был направлен запрос, в течение 30
          дней с момента получения такого запроса.
        </p>
        <p>
          9.1.2 Принимать меры, необходимые и достаточные для обеспечения выполнения обязанностей, предусмотренных
          Законом;
        </p>
        <p>
          9.1.3 По требованию Посетителя Портала уточнять обрабатываемые персональные данные, блокировать или удалять
          их, если они являются неполными, устаревшими, неточными, незаконно полученными или ненужными для заявленной
          цели обработки;
        </p>
        <p>
          9.1.4 Обеспечить правомерность обработки персональных данных. В случае, если обеспечить правомерность
          обработки персональных данных невозможно, Ассоциация в срок, не превышающий 10 (десять) рабочих дней с даты
          выявления неправомерной обработки персональных данных, обязано их уничтожить.
        </p>
        <p>
          9.1.5 В случае отзыва Субъектом персональных данных согласия на обработку персональных данных, прекратить их
          обработку и уничтожить их в срок, не превышающий 30 (тридцать) рабочих дней с даты поступления такого отзыва.
          Исключения составляют случаи, когда обработка может быть продолжена в соответствии с законодательством
          Российской Федерации.
        </p>
      </div>

      <div class="legal__item">
        <h3>
          10. МЕРЫ, ПРИНИМАЕМЫЕ В АССОЦИАЦИИ ДЛЯ ОБЕСПЕЧЕНИЯ ВЫПОЛНЕНИЯ ОБЯЗАННОСТЕЙ ОПЕРАТОРА ПРИ ОБРАБОТКЕ
          ПЕРСОНАЛЬНЫХ ДАННЫХ
        </h3>
        <p>
          10.1 Меры, необходимые и достаточные для обеспечения выполнения Ассоциацией обязанностей Оператора в области
          персональных данных, включают:
        </p>
        <p>
          10.1.1 Назначение лица, ответственного за организацию обработки персональных данных Посетителей Портала в
          Ассоциации;
        </p>
        <p>
          10.1.2 Принятие локальных нормативных актов и иных документов в области обработки и защиты персональных
          данных;
        </p>
        <p>
          10.1.3 Организацию обучения и проведение методической работы с работниками Ассоциации, занимающими должности,
          включенные в перечень должностей Ассоциации, при замещении которых осуществляется обработка персональных
          данных;
        </p>
        <p>
          10.1.4 Получение согласий субъектов персональных данных на обработку их персональных данных;
        </p>
        <p>
          10.1.5 Установление запрета на передачу персональных данных по открытым каналам связи, вычислительным сетям
          вне пределов контролируемой зоны, сети Интернет без применения мер по обеспечению безопасности персональных
          данных (за исключением общедоступных и (или) обезличенных персональных данных);
        </p>
        <p>
          10.1.6 Персональные данные Пользователя хранятся в электронном виде в информационных системах Оператора, а
          также в архивных копиях баз данных этих систем, с соблюдением условий, обеспечивающих сохранность персональных
          данных и исключающих несанкционированный доступ к ним;
        </p>
        <p>10.1.7 Периодическая оценка рисков, касающихся процесса обработки персональных данных;</p>
        <p>10.1.8 Проведение внутренних расследований для обнаружения фактов, связанных с несанкционированным доступом к
          персональным данным;</p>
        <p>10.1.9 Мониторинг и анализ защищенности сетевой инфраструктуры Ассоциации.</p>
        <p>
          10.2 Ассоциация обязуется и обязует третьих лиц, в случае передачи им права на обработку персональных данных,
          соблюдать режим конфиденциальности в отношении персональных данных и не использовать персональные данные без
          согласия физического лица за исключением случаев, предусмотренных настоящей Политикой.
        </p>
        <p>10.3 Ассоциация не осуществляет трансграничной передачи персональных данных.</p>
      </div>

      <div class="legal__item">
        <h3>
          11. КОНТАКТНЫЕ ДАННЫЕ ДЛЯ СВЯЗИ С ОПЕРАТОРОМ
        </h3>
        <p>
          11.1 В случае возникновения вопросов, предложений или намерения реализовать одно или несколько из прав
          субъекта касательно обработки персональных данных субъект вправе связаться с Ассоциацией по следующим
          контактным данным:
        </p>
        <p>
          Электронная почта: office@trudmigratsiya.ru
        </p>
        <p>
          Телефон: +7 (812) 955-19-59
        </p>
      </div>
    </div>

  </div>
</section>