<section class="main">

  <div class="main-top">
    <div class="container main-top__container">

      <div class="main-top__inner">
        <h1 class="page-title main-top__title">
          <span style="color: rgba(45, 46, 131, 1);">Ассоциация</span> содействия международной трудовой миграции
        </h1>

        <div class="main-top__text">
          <p>
            Поддержка, защита интересов и оказание качественным миграционных услуг трудовым мигрантам. Ассоциация
            объединяет работодателя и иностранного работника в вопросах трудоустройства, а также в реализации
            государственной миграционной политике.
          </p>
        </div>

        <button type="button" class="main-top-btn">
          Вступить в организацию

          <span class="main-top-btn__icon">
            <svg>
              <use href="#arrow-icon"></use>
            </svg>
          </span>
        </button>
      </div>

      <div class="main-top-sphere">
        <div class="main-top-sphere__inner">
          <div class="main-top-sphere__ellipse main-top-sphere__ellipse_1">
            <svg viewBox="0 0 179 65" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M178.478 32.5037C178.478 28.3077 176.098 24.2427 171.643 20.4806C167.189 16.7205 160.716 13.3117 152.673 10.4393C136.592 4.69585 114.342 1.13395 89.7423 1.13395C65.1424 1.13395 42.893 4.69585 26.8115 10.4393C18.7685 13.3117 12.2951 16.7205 7.84197 20.4806C3.38654 24.2427 1.00684 28.3077 1.00684 32.5037C1.00684 36.6998 3.38654 40.7648 7.84197 44.5269C12.2951 48.287 18.7685 51.6957 26.8115 54.5682C42.893 60.3116 65.1424 63.8735 89.7423 63.8735C114.342 63.8735 136.592 60.3116 152.673 54.5682C160.716 51.6957 167.189 48.287 171.643 44.5269C176.098 40.7648 178.478 36.6998 178.478 32.5037Z" />
            </svg>
          </div>
          <div class="main-top-sphere__ellipse main-top-sphere__ellipse_2">
            <svg viewBox="0 0 485 175" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M484.452 87.6182C484.452 75.8532 477.791 64.5779 465.595 54.2579C453.401 43.9398 435.726 34.6252 413.842 26.7929C370.077 11.1298 309.584 1.43242 242.742 1.43242C175.899 1.43242 115.406 11.1298 71.6415 26.7929C49.7571 34.6252 32.0824 43.9398 19.8883 54.2579C7.692 64.5779 1.03125 75.8532 1.03125 87.6182C1.03125 99.3832 7.692 110.659 19.8883 120.979C32.0824 131.297 49.7571 140.611 71.6415 148.444C115.406 164.107 175.899 173.804 242.742 173.804C309.584 173.804 370.077 164.107 413.842 148.444C435.726 140.611 453.401 131.297 465.595 120.979C477.791 110.659 484.452 99.3832 484.452 87.6182Z" />
            </svg>
          </div>
          <div class="main-top-sphere__ellipse main-top-sphere__ellipse_3">
            <svg viewBox="0 0 664 235" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M663.132 117.297C663.132 101.348 653.975 86.0849 637.259 72.1363C620.546 58.1899 596.331 45.608 566.366 35.0319C506.439 13.8813 423.618 0.789963 332.113 0.789963C240.608 0.789963 157.787 13.8813 97.8598 35.0319C67.8941 45.608 43.6798 58.1899 26.9665 72.1363C10.2504 86.0849 1.09375 101.348 1.09375 117.297C1.09375 133.245 10.2504 148.508 26.9665 162.457C43.6798 176.403 67.8941 188.985 97.8598 199.561C157.787 220.712 240.608 233.803 332.113 233.803C423.618 233.803 506.439 220.712 566.366 199.561C596.331 188.985 620.546 176.403 637.259 162.457C653.975 148.508 663.132 133.245 663.132 117.297Z" />
            </svg>
          </div>
          <div class="main-top-sphere__ellipse main-top-sphere__ellipse_4">
            <svg viewBox="0 0 722 256" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M720.733 127.905C720.733 145.3 710.775 161.941 692.611 177.142C674.45 192.341 648.141 206.051 615.587 217.575C550.483 240.621 460.51 254.884 361.104 254.884C261.699 254.884 171.726 240.621 106.622 217.575C74.0674 206.051 47.7582 192.341 29.5972 177.142C11.4335 161.941 1.47559 145.3 1.47559 127.905C1.47559 110.51 11.4335 93.8692 29.5972 78.6679C47.7582 63.4688 74.0674 49.7587 106.622 38.235C171.726 15.1894 261.699 0.925903 361.104 0.925903C460.51 0.925903 550.483 15.1894 615.587 38.235C648.141 49.7587 674.45 63.4688 692.611 78.6679C710.775 93.8692 720.733 110.51 720.733 127.905Z" />
            </svg>
          </div>
          <div class="main-top-sphere__ellipse main-top-sphere__ellipse_5">
            <svg viewBox="0 0 664 235" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M663.132 117.297C663.132 101.348 653.975 86.0849 637.259 72.1363C620.546 58.1899 596.331 45.608 566.366 35.0319C506.439 13.8813 423.618 0.789963 332.113 0.789963C240.608 0.789963 157.787 13.8813 97.8598 35.0319C67.8941 45.608 43.6798 58.1899 26.9665 72.1363C10.2504 86.0849 1.09375 101.348 1.09375 117.297C1.09375 133.245 10.2504 148.508 26.9665 162.457C43.6798 176.403 67.8941 188.985 97.8598 199.561C157.787 220.712 240.608 233.803 332.113 233.803C423.618 233.803 506.439 220.712 566.366 199.561C596.331 188.985 620.546 176.403 637.259 162.457C653.975 148.508 663.132 133.245 663.132 117.297Z" />
            </svg>
          </div>
          <div class="main-top-sphere__ellipse main-top-sphere__ellipse_6">
            <svg viewBox="0 0 485 175" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M484.452 87.6182C484.452 75.8532 477.791 64.5779 465.595 54.2579C453.401 43.9398 435.726 34.6252 413.842 26.7929C370.077 11.1298 309.584 1.43242 242.742 1.43242C175.899 1.43242 115.406 11.1298 71.6415 26.7929C49.7571 34.6252 32.0824 43.9398 19.8883 54.2579C7.692 64.5779 1.03125 75.8532 1.03125 87.6182C1.03125 99.3832 7.692 110.659 19.8883 120.979C32.0824 131.297 49.7571 140.611 71.6415 148.444C115.406 164.107 175.899 173.804 242.742 173.804C309.584 173.804 370.077 164.107 413.842 148.444C435.726 140.611 453.401 131.297 465.595 120.979C477.791 110.659 484.452 99.3832 484.452 87.6182Z" />
            </svg>
          </div>
          <div class="main-top-sphere__ellipse main-top-sphere__ellipse_7">
            <svg viewBox="0 0 179 65" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M178.478 32.5037C178.478 28.3077 176.098 24.2427 171.643 20.4806C167.189 16.7205 160.716 13.3117 152.673 10.4393C136.592 4.69585 114.342 1.13395 89.7423 1.13395C65.1424 1.13395 42.893 4.69585 26.8115 10.4393C18.7685 13.3117 12.2951 16.7205 7.84197 20.4806C3.38654 24.2427 1.00684 28.3077 1.00684 32.5037C1.00684 36.6998 3.38654 40.7648 7.84197 44.5269C12.2951 48.287 18.7685 51.6957 26.8115 54.5682C42.893 60.3116 65.1424 63.8735 89.7423 63.8735C114.342 63.8735 136.592 60.3116 152.673 54.5682C160.716 51.6957 167.189 48.287 171.643 44.5269C176.098 40.7648 178.478 36.6998 178.478 32.5037Z" />
            </svg>
          </div>
        </div>

        <div class="main-top-tg">
          <h6 class="main-top-tg__text">Подписывайтесь на наш Telegram-канал</h6>

          <div class="main-top-tg__img">
            <img src="./assets/images/tg-QR.jpg" alt="">
          </div>

          <a href="https://t.me/trudmigratsiya" class="main-top-tg__text">https://t.me/trudmigratsiya</a>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="main-news">
      <div class="main-news__head">
        <h3 class="block-title main-news__title">Новости</h3>

        <div class="swiper-btns">
          <button type="button" class="swiper-btns__btn swiper-btns__btn_prev">
            <svg>
              <use href="#arrow-icon"></use>
            </svg>
          </button>
          <button type="button" class="swiper-btns__btn swiper-btns__btn_next">
            <svg>
              <use href="#arrow-icon"></use>
            </svg>
          </button>
        </div>
      </div>

      <div class="swiper main-news__swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <a href="#" class="main-news-item">
              <span class="main-news-item__date">08.03.2023</span>
              <h5 class="main-news-item__title">
                В Петербурге и Ленобласти вопросы иностранцев решаетт Ассоциация
                содействия международной трудовой миграции
              </h5>
              <p class="main-news-item__text">
                В Петербурге и Ленобласти разработкой и внедрением в практику работы с иност...
              </p>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#" class="main-news-item">
              <span class="main-news-item__date">07.03.2023</span>
              <h5 class="main-news-item__title">
                Россия и страны Центральной Азии готовят соглашения о миграции
              </h5>
              <p class="main-news-item__text">
                Госорганы России, Узбекистана, Киргизии и Таджикистана ведут работу по подготовке межправительственных
                соглашений о миграции. Точная дата по...
              </p>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#" class="main-news-item">
              <span class="main-news-item__date">07.03.2023</span>
              <h5 class="main-news-item__title">
                Павильон «Узбекистан» на ВДНХ откроет двери в 2023 году
              </h5>
              <p class="main-news-item__text">
                На ВДНХ в этом году завершается реставрация национального павильона Узбекистана, также называемого
                "Культура". Всего будут открыты 15 объек...
              </p>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#" class="main-news-item">
              <span class="main-news-item__date">07.03.2023</span>
              <h5 class="main-news-item__title">
                Путин обсудил с Мирзиеевым партнерство России и Узбекистана
              </h5>
              <p class="main-news-item__text">
                Президент России Владимир Путин провел телефонный разговор с президентом Узбекистана Шавкатом
                Мирзиеевым. Об этом сообщила пресс-с...
              </p>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#" class="main-news-item">
              <span class="main-news-item__date">08.03.2023</span>
              <h5 class="main-news-item__title">
                В Петербурге и Ленобласти вопросы иностранцев решаетт Ассоциация
                содействия международной трудовой миграции
              </h5>
              <p class="main-news-item__text">
                В Петербурге и Ленобласти разработкой и внедрением в практику работы с иност...
              </p>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#" class="main-news-item">
              <span class="main-news-item__date">07.03.2023</span>
              <h5 class="main-news-item__title">
                Россия и страны Центральной Азии готовят соглашения о миграции
              </h5>
              <p class="main-news-item__text">
                Госорганы России, Узбекистана, Киргизии и Таджикистана ведут работу по подготовке межправительственных
                соглашений о миграции. Точная дата по...
              </p>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#" class="main-news-item">
              <span class="main-news-item__date">07.03.2023</span>
              <h5 class="main-news-item__title">
                Павильон «Узбекистан» на ВДНХ откроет двери в 2023 году
              </h5>
              <p class="main-news-item__text">
                На ВДНХ в этом году завершается реставрация национального павильона Узбекистана, также называемого
                "Культура". Всего будут открыты 15 объек...
              </p>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#" class="main-news-item">
              <span class="main-news-item__date">07.03.2023</span>
              <h5 class="main-news-item__title">
                Путин обсудил с Мирзиеевым партнерство России и Узбекистана
              </h5>
              <p class="main-news-item__text">
                Президент России Владимир Путин провел телефонный разговор с президентом Узбекистана Шавкатом
                Мирзиеевым. Об этом сообщила пресс-с...
              </p>
            </a>
          </div>
        </div>
      </div>

      <a href="#" class="main-news-link">
        Загрузить еще
      </a>
    </div>

    <div class="main-help">
      <h3 class="main-help__title">В помощь мигранту</h3>

      <a href="#" class="main-help-item">
        <div class="main-help-item__icon">
          <svg>
            <use href="#story-icon"></use>
          </svg>
        </div>
        <h5 class="main-help-item__title">Памятка трудовому мигранту</h5>
      </a>
      <a href="#" class="main-help-item">
        <div class="main-help-item__icon">
          <svg>
            <use href="#contact-icon"></use>
          </svg>
        </div>
        <h5 class="main-help-item__title">Полезные адреса и телефоны</h5>
      </a>
      <a href="#" class="main-help-item">
        <div class="main-help-item__icon">
          <svg>
            <use href="#auction-icon"></use>
          </svg>
        </div>
        <h5 class="main-help-item__title">Правовая информация</h5>
      </a>
      <a href="#" class="main-help-item">
        <div class="main-help-item__icon">
          <svg>
            <use href="#info-icon"></use>
          </svg>
        </div>
        <h5 class="main-help-item__title">Информационные материалы</h5>
      </a>
      <a href="#" class="main-help-item">
        <div class="main-help-item__icon">
          <svg>
            <use href="#question-icon"></use>
          </svg>
        </div>
        <h5 class="main-help-item__title">Часто задаваемые вопросы</h5>
      </a>
    </div>

    <div class="main-video">
      <div class="main-video__wrapper">
        <div class="main-video__img">
          <img src="./assets/images/main-video.jpg" alt="">
        </div>

        <div class="main-video__container">
          <h3 class="main-video__title">
            От прилёта до трудоустройства с помощью Ассоциации
          </h3>

          <div class="main-video__inner">
            <div class="main-video__text">
              <p>
                Краткое описание видео... Оказание поддержки, защиты интересов и методологической помощи организациям,
                оказание качественных миграционных услуг трудовым мигрантам, содействие работодателям в поиске
                работников
                из числа иностранных граждан
              </p>
            </div>

            <a href="#" class="main-top-btn main-video__link">
              Посмотреть на YouTube
              <span class="main-top-btn__icon">
                <svg>
                  <use href="#arrow-icon"></use>
                </svg>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="main-help main-help_2">
      <h3 class="main-help__title">Работодателю</h3>

      <a href="#" class="main-help-item">
        <div class="main-help-item__icon">
          <svg>
            <use href="#user-icon"></use>
          </svg>
        </div>
        <h5 class="main-help-item__title">Иностранный работник в организации</h5>
      </a>
      <a href="#" class="main-help-item">
        <div class="main-help-item__icon">
          <svg>
            <use href="#contact-icon"></use>
          </svg>
        </div>
        <h5 class="main-help-item__title">
          МЕДОСВИДЕТЕЛЬСТВОВАНИЕ ИНОСТРАННЫХ ГРАЖДАН <br>
          (изменения с 29.12.2021 года)
        </h5>
      </a>
      <a href="#" class="main-help-item">
        <div class="main-help-item__icon">
          <svg>
            <use href="#info-icon"></use>
          </svg>
        </div>
        <h5 class="main-help-item__title">Информационные материалы</h5>
      </a>
      <a href="#" class="main-help-item">
        <div class="main-help-item__icon">
          <svg>
            <use href="#question-icon"></use>
          </svg>
        </div>
        <h5 class="main-help-item__title">Часто задаваемые вопросы</h5>
      </a>
    </div>
  </div>

  <div class="main-office">
    <div class="container">
      <h3 class="block-title main-office__title">Миграционные центры</h3>

      <ul class="main-office__list">
        <li class="main-office-item">
          <div class="main-office-item__img">
            <img src="./assets/images/main-office-1.jpg" alt="">
          </div>
          <div class="main-office-item__inner">
            <h4 class="main-office-item__title">Миграционный центр «Северный»</h4>
            <p class="main-office-item__text">г.Санкт-Петербург, Полюстровский пр., 59Х</p>
          </div>
        </li>
        <li class="main-office-item">
          <div class="main-office-item__img">
            <img src="./assets/images/main-office-2.jpg" alt="">
          </div>
          <div class="main-office-item__inner">
            <h4 class="main-office-item__title">Миграционный центр «Заневский»</h4>
            <p class="main-office-item__text">Санкт-Петербург г, Якорная ул, дом №7, литера А</p>
          </div>
        </li>
        <li class="main-office-item">
          <div class="main-office-item__img">
            <img src="./assets/images/main-office-3.jpg" alt="">
          </div>
          <div class="main-office-item__inner">
            <h4 class="main-office-item__title">Миграционный центр «Южный»</h4>
            <p class="main-office-item__text">г. Санкт-Петербург г, Кубинская ул., д.77</p>
          </div>
        </li>
        <li class="main-office-item">
          <div class="main-office-item__img">
            <img src="./assets/images/main-office-4.jpg" alt="">
          </div>
          <div class="main-office-item__inner">
            <h4 class="main-office-item__title">Миграционный центр «Московский»</h4>
            <p class="main-office-item__text">Санкт-Петербург, ул. Коли Томчака, 28Б</p>
          </div>
        </li>
        <li class="main-office-item">
          <div class="main-office-item__img">
            <img src="./assets/images/main-office-5.jpg" alt="">
          </div>
          <div class="main-office-item__inner">
            <h4 class="main-office-item__title">Миграционный центр «Нарвский»</h4>
            <p class="main-office-item__text">Санкт-Петербург, Межевой канал, д.1, лит.А</p>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="container">
    <div class="main-partners">
      <div class="main-partners__head">
        <h3 class="block-title main-partners__title">Партнеры</h3>

        <div class="swiper-btns">
          <button type="button" class="swiper-btns__btn swiper-btns__btn_prev">
            <svg>
              <use href="#arrow-icon"></use>
            </svg>
          </button>
          <button type="button" class="swiper-btns__btn swiper-btns__btn_next">
            <svg>
              <use href="#arrow-icon"></use>
            </svg>
          </button>
        </div>
      </div>

      <div class="swiper main-partners__swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="main-partners__item">
              <img src="./assets/images/main-partners-1.png" alt="">
            </div>
          </div>
          <div class="swiper-slide">
            <div class="main-partners__item">
              <img src="./assets/images/main-partners-2.png" alt="">
            </div>
          </div>
          <div class="swiper-slide">
            <div class="main-partners__item">
              <img src="./assets/images/main-partners-3.png" alt="">
            </div>
          </div>
          <div class="swiper-slide">
            <div class="main-partners__item">
              <img src="./assets/images/main-partners-4.png" alt="">
            </div>
          </div>
          <div class="swiper-slide">
            <div class="main-partners__item">
              <img src="./assets/images/main-partners-1.png" alt="">
            </div>
          </div>
          <div class="swiper-slide">
            <div class="main-partners__item">
              <img src="./assets/images/main-partners-2.png" alt="">
            </div>
          </div>
          <div class="swiper-slide">
            <div class="main-partners__item">
              <img src="./assets/images/main-partners-3.png" alt="">
            </div>
          </div>
          <div class="swiper-slide">
            <div class="main-partners__item">
              <img src="./assets/images/main-partners-4.png" alt="">
            </div>
          </div>
          <div class="swiper-slide">
            <div class="main-partners__item">
              <img src="./assets/images/main-partners-1.png" alt="">
            </div>
          </div>
          <div class="swiper-slide">
            <div class="main-partners__item">
              <img src="./assets/images/main-partners-2.png" alt="">
            </div>
          </div>
          <div class="swiper-slide">
            <div class="main-partners__item">
              <img src="./assets/images/main-partners-3.png" alt="">
            </div>
          </div>
          <div class="swiper-slide">
            <div class="main-partners__item">
              <img src="./assets/images/main-partners-4.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>