<section class="main">

  <div class="main-top">
    <div class="container main-top__container">

      <div class="main-top__inner">
        <h1 class="main-top__title">
          <span style="color: rgba(45, 46, 131, 1);">Ассоциация</span> содействия международной трудовой миграции
        </h1>

        <div class="main-top__text">
          <p>
            Оказание поддержки, защиты интересов и методологической помощи организациям, оказание качественных
            миграционных услуг трудовым мигрантам, содействие работодателям в поиске работников из числа иностранных
            граждан
          </p>
        </div>

        <button type="button" class="main-top-btn">
          Подать документы

          <span class="main-top-btn__icon">
            <svg>
              <use href="#arrow-icon"></use>
            </svg>
          </span>
        </button>
      </div>

      <div class="main-top-sphere">
        <!-- <svg viewBox="0 0 721 692" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g opacity="1">
            <path
              d="M528.597 65.1234C529.683 61.0703 528.436 56.5279 525.106 51.7408C521.778 46.9563 516.407 41.9883 509.382 37.132C495.335 27.4221 474.765 18.223 451.004 11.856C427.242 5.48913 404.829 3.1711 387.809 4.5566C379.297 5.24954 372.162 6.86668 366.887 9.34613C361.61 11.8269 358.259 15.1375 357.173 19.1905C356.087 23.2436 357.333 27.786 360.663 32.573C363.991 37.3576 369.362 42.3256 376.388 47.1819C390.435 56.8918 411.004 66.0909 434.766 72.4578C458.527 78.8248 480.94 81.1428 497.96 79.7573C506.473 79.0643 513.608 77.4472 518.883 74.9678C524.16 72.487 527.511 69.1764 528.597 65.1234Z" />
            <path
              d="M655.573 182.291C658.618 170.927 655.102 158.312 645.992 145.187C636.884 132.065 622.223 118.493 603.111 105.263C564.892 78.807 508.97 53.7833 444.405 36.4831C379.84 19.183 318.898 12.8932 272.571 16.6954C249.405 18.5968 229.922 23.0194 215.473 29.8299C201.021 36.6416 191.669 45.8088 188.624 57.173C185.579 68.5371 189.094 81.1521 198.204 94.2772C207.312 107.4 221.974 120.972 241.086 134.201C279.305 160.658 335.227 185.681 399.792 202.981C464.357 220.282 525.298 226.571 571.626 222.769C594.792 220.868 614.275 216.445 628.724 209.635C643.176 202.823 652.528 193.656 655.573 182.291Z" />
            <path
              d="M713.102 310.219C717.23 294.814 712.336 277.701 699.8 259.901C687.265 242.104 667.133 223.684 640.925 205.712C588.515 169.772 511.904 135.691 423.517 112.008C335.13 88.3246 251.743 79.5343 188.383 84.454C156.702 86.9141 130.056 92.8001 110.302 101.946C90.5458 111.092 77.7508 123.466 73.623 138.871C69.4952 154.276 74.3894 171.389 86.9258 189.189C99.46 206.986 119.593 225.406 145.8 243.377C198.211 279.317 274.821 313.398 363.209 337.082C451.596 360.765 534.983 369.555 598.342 364.635C630.024 362.175 656.67 356.289 676.423 347.144C696.18 337.997 708.975 325.624 713.102 310.219Z" />
            <path
              d="M708.478 437.984C703.976 454.786 690.051 468.283 668.571 478.265C647.095 488.246 618.134 494.679 583.707 497.385C514.856 502.795 424.257 493.286 328.239 467.558C232.221 441.83 149.005 404.765 92.0842 365.655C63.6217 346.098 41.7574 326.046 28.149 306.664C14.5386 287.28 9.22697 268.629 13.7292 251.826C18.2313 235.024 32.1569 221.528 53.6361 211.545C75.1121 201.564 104.073 195.131 138.501 192.426C207.351 187.015 297.95 196.525 393.968 222.253C489.987 247.981 573.202 285.045 630.123 324.155C658.586 343.712 680.45 363.764 694.058 383.146C707.669 402.53 712.98 421.181 708.478 437.984Z" />
            <path
              d="M648.55 551.129C644.422 566.534 631.627 578.908 611.87 588.054C592.117 597.2 565.471 603.086 533.789 605.546C470.43 610.466 387.043 601.675 298.656 577.992C210.269 554.309 133.658 520.228 81.2476 484.288C55.0403 466.316 34.9075 447.896 22.3733 430.099C9.83697 412.299 4.94271 395.186 9.0705 379.781C13.1983 364.376 25.9933 352.003 45.75 342.856C65.5034 333.711 92.1491 327.825 123.831 325.365C187.19 320.445 270.577 329.235 358.964 352.918C447.352 376.602 523.962 410.683 576.373 446.623C602.58 464.594 622.713 483.015 635.247 500.811C647.783 518.611 652.678 535.724 648.55 551.129Z" />
            <path
              d="M534.815 632.967C531.77 644.331 522.418 653.499 507.966 660.31C493.517 667.121 474.034 671.544 450.868 673.445C404.541 677.247 343.599 670.957 279.034 653.657C214.469 636.357 158.547 611.333 120.328 584.877C101.216 571.647 86.5546 558.076 77.4466 544.953C68.3369 531.828 64.8213 519.213 67.8664 507.849C70.9114 496.485 80.2634 487.317 94.7152 480.506C109.164 473.695 128.648 469.273 151.813 467.371C198.141 463.569 259.082 469.859 323.647 487.159C388.212 504.459 444.134 529.483 482.354 555.939C501.465 569.169 516.127 582.741 525.235 595.863C534.345 608.988 537.86 621.603 534.815 632.967Z" />
            <path
              d="M366.266 670.95C367.352 666.897 366.106 662.354 362.776 657.567C359.448 652.783 354.077 647.815 347.052 642.958C333.005 633.248 312.435 624.049 288.674 617.682C264.912 611.315 242.499 608.997 225.479 610.383C216.966 611.076 209.831 612.693 204.557 615.172C199.28 617.653 195.929 620.964 194.843 625.017C193.757 629.07 195.003 633.612 198.333 638.399C201.661 643.184 207.032 648.152 214.057 653.008C228.105 662.718 248.674 671.917 272.436 678.284C296.197 684.651 318.61 686.969 335.63 685.584C344.143 684.891 351.278 683.273 356.552 680.794C361.83 678.313 365.18 675.003 366.266 670.95Z" />
          </g>
        </svg> -->
        <div class="main-top-sphere__inner">
          <div class="main-top-sphere__ellipse main-top-sphere__ellipse_1">
            <svg viewBox="0 0 179 65" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M178.478 32.5037C178.478 28.3077 176.098 24.2427 171.643 20.4806C167.189 16.7205 160.716 13.3117 152.673 10.4393C136.592 4.69585 114.342 1.13395 89.7423 1.13395C65.1424 1.13395 42.893 4.69585 26.8115 10.4393C18.7685 13.3117 12.2951 16.7205 7.84197 20.4806C3.38654 24.2427 1.00684 28.3077 1.00684 32.5037C1.00684 36.6998 3.38654 40.7648 7.84197 44.5269C12.2951 48.287 18.7685 51.6957 26.8115 54.5682C42.893 60.3116 65.1424 63.8735 89.7423 63.8735C114.342 63.8735 136.592 60.3116 152.673 54.5682C160.716 51.6957 167.189 48.287 171.643 44.5269C176.098 40.7648 178.478 36.6998 178.478 32.5037Z" />
            </svg>
          </div>
          <div class="main-top-sphere__ellipse main-top-sphere__ellipse_2">
            <svg viewBox="0 0 485 175" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M484.452 87.6182C484.452 75.8532 477.791 64.5779 465.595 54.2579C453.401 43.9398 435.726 34.6252 413.842 26.7929C370.077 11.1298 309.584 1.43242 242.742 1.43242C175.899 1.43242 115.406 11.1298 71.6415 26.7929C49.7571 34.6252 32.0824 43.9398 19.8883 54.2579C7.692 64.5779 1.03125 75.8532 1.03125 87.6182C1.03125 99.3832 7.692 110.659 19.8883 120.979C32.0824 131.297 49.7571 140.611 71.6415 148.444C115.406 164.107 175.899 173.804 242.742 173.804C309.584 173.804 370.077 164.107 413.842 148.444C435.726 140.611 453.401 131.297 465.595 120.979C477.791 110.659 484.452 99.3832 484.452 87.6182Z" />
            </svg>
          </div>
          <div class="main-top-sphere__ellipse main-top-sphere__ellipse_3">
            <svg viewBox="0 0 664 235" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M663.132 117.297C663.132 101.348 653.975 86.0849 637.259 72.1363C620.546 58.1899 596.331 45.608 566.366 35.0319C506.439 13.8813 423.618 0.789963 332.113 0.789963C240.608 0.789963 157.787 13.8813 97.8598 35.0319C67.8941 45.608 43.6798 58.1899 26.9665 72.1363C10.2504 86.0849 1.09375 101.348 1.09375 117.297C1.09375 133.245 10.2504 148.508 26.9665 162.457C43.6798 176.403 67.8941 188.985 97.8598 199.561C157.787 220.712 240.608 233.803 332.113 233.803C423.618 233.803 506.439 220.712 566.366 199.561C596.331 188.985 620.546 176.403 637.259 162.457C653.975 148.508 663.132 133.245 663.132 117.297Z" />
            </svg>
          </div>
          <div class="main-top-sphere__ellipse main-top-sphere__ellipse_4">
            <svg viewBox="0 0 722 256" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M720.733 127.905C720.733 145.3 710.775 161.941 692.611 177.142C674.45 192.341 648.141 206.051 615.587 217.575C550.483 240.621 460.51 254.884 361.104 254.884C261.699 254.884 171.726 240.621 106.622 217.575C74.0674 206.051 47.7582 192.341 29.5972 177.142C11.4335 161.941 1.47559 145.3 1.47559 127.905C1.47559 110.51 11.4335 93.8692 29.5972 78.6679C47.7582 63.4688 74.0674 49.7587 106.622 38.235C171.726 15.1894 261.699 0.925903 361.104 0.925903C460.51 0.925903 550.483 15.1894 615.587 38.235C648.141 49.7587 674.45 63.4688 692.611 78.6679C710.775 93.8692 720.733 110.51 720.733 127.905Z" />
            </svg>
          </div>
          <div class="main-top-sphere__ellipse main-top-sphere__ellipse_5">
            <svg viewBox="0 0 664 235" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M663.132 117.297C663.132 101.348 653.975 86.0849 637.259 72.1363C620.546 58.1899 596.331 45.608 566.366 35.0319C506.439 13.8813 423.618 0.789963 332.113 0.789963C240.608 0.789963 157.787 13.8813 97.8598 35.0319C67.8941 45.608 43.6798 58.1899 26.9665 72.1363C10.2504 86.0849 1.09375 101.348 1.09375 117.297C1.09375 133.245 10.2504 148.508 26.9665 162.457C43.6798 176.403 67.8941 188.985 97.8598 199.561C157.787 220.712 240.608 233.803 332.113 233.803C423.618 233.803 506.439 220.712 566.366 199.561C596.331 188.985 620.546 176.403 637.259 162.457C653.975 148.508 663.132 133.245 663.132 117.297Z" />
            </svg>
          </div>
          <div class="main-top-sphere__ellipse main-top-sphere__ellipse_6">
            <svg viewBox="0 0 485 175" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M484.452 87.6182C484.452 75.8532 477.791 64.5779 465.595 54.2579C453.401 43.9398 435.726 34.6252 413.842 26.7929C370.077 11.1298 309.584 1.43242 242.742 1.43242C175.899 1.43242 115.406 11.1298 71.6415 26.7929C49.7571 34.6252 32.0824 43.9398 19.8883 54.2579C7.692 64.5779 1.03125 75.8532 1.03125 87.6182C1.03125 99.3832 7.692 110.659 19.8883 120.979C32.0824 131.297 49.7571 140.611 71.6415 148.444C115.406 164.107 175.899 173.804 242.742 173.804C309.584 173.804 370.077 164.107 413.842 148.444C435.726 140.611 453.401 131.297 465.595 120.979C477.791 110.659 484.452 99.3832 484.452 87.6182Z" />
            </svg>
          </div>
          <div class="main-top-sphere__ellipse main-top-sphere__ellipse_7">
            <svg viewBox="0 0 179 65" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M178.478 32.5037C178.478 28.3077 176.098 24.2427 171.643 20.4806C167.189 16.7205 160.716 13.3117 152.673 10.4393C136.592 4.69585 114.342 1.13395 89.7423 1.13395C65.1424 1.13395 42.893 4.69585 26.8115 10.4393C18.7685 13.3117 12.2951 16.7205 7.84197 20.4806C3.38654 24.2427 1.00684 28.3077 1.00684 32.5037C1.00684 36.6998 3.38654 40.7648 7.84197 44.5269C12.2951 48.287 18.7685 51.6957 26.8115 54.5682C42.893 60.3116 65.1424 63.8735 89.7423 63.8735C114.342 63.8735 136.592 60.3116 152.673 54.5682C160.716 51.6957 167.189 48.287 171.643 44.5269C176.098 40.7648 178.478 36.6998 178.478 32.5037Z" />
            </svg>
          </div>
        </div>

        <div class="main-top-tg">
          <h6 class="main-top-tg__text">Подписывайтесь на наш Telegram-канал</h6>

          <div class="main-top-tg__img">
            <img src="./assets/images/tg-QR.jpg" alt="">
          </div>

          <a href="https://t.me/trudmigratsiya" class="main-top-tg__text">https://t.me/trudmigratsiya</a>
        </div>
      </div>
    </div>
  </div>

  <div class="main-office">
    <div class="container">
      <h3 class="block-title main-office__title">Миграционные центры</h3>

      <ul class="main-office__list">
        <li class="main-office-item">
          <div class="main-office-item__img">
            <img src="./assets/images/main-office-1.jpg" alt="">
          </div>
          <div class="main-office-item__inner">
            <h4 class="main-office-item__title">Миграционный центр «Северный»</h4>
            <p class="main-office-item__text">г.Санкт-Петербург, Полюстровский пр., 59Х</p>
          </div>
        </li>
        <li class="main-office-item">
          <div class="main-office-item__img">
            <img src="./assets/images/main-office-2.jpg" alt="">
          </div>
          <div class="main-office-item__inner">
            <h4 class="main-office-item__title">Миграционный центр «Заневский»</h4>
            <p class="main-office-item__text">Санкт-Петербург г, Якорная ул, дом №7, литера А</p>
          </div>
        </li>
        <li class="main-office-item">
          <div class="main-office-item__img">
            <img src="./assets/images/main-office-3.jpg" alt="">
          </div>
          <div class="main-office-item__inner">
            <h4 class="main-office-item__title">Миграционный центр «Южный»</h4>
            <p class="main-office-item__text">г. Санкт-Петербург г, Кубинская ул., д.77</p>
          </div>
        </li>
        <li class="main-office-item">
          <div class="main-office-item__img">
            <img src="./assets/images/main-office-4.jpg" alt="">
          </div>
          <div class="main-office-item__inner">
            <h4 class="main-office-item__title">Миграционный центр «Московский»</h4>
            <p class="main-office-item__text">Санкт-Петербург, ул. Коли Томчака, 28Б</p>
          </div>
        </li>
        <li class="main-office-item">
          <div class="main-office-item__img">
            <img src="./assets/images/main-office-5.jpg" alt="">
          </div>
          <div class="main-office-item__inner">
            <h4 class="main-office-item__title">Миграционный центр «Нарвский»</h4>
            <p class="main-office-item__text">Санкт-Петербург, Межевой канал, д.1, лит.А</p>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="container">

    <div class="main-news">
      <div class="main-news__head">
        <h3 class="block-title main-news__title">Новости</h3>

        <div class="swiper-btns">
          <button type="button" class="swiper-btns__btn swiper-btns__btn_prev">
            <svg>
              <use href="#arrow-icon"></use>
            </svg>
          </button>
          <button type="button" class="swiper-btns__btn swiper-btns__btn_next">
            <svg>
              <use href="#arrow-icon"></use>
            </svg>
          </button>
        </div>
      </div>

      <div class="swiper main-news__swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <a href="#" class="main-news-item">
              <span class="main-news-item__date">08.03.2023</span>
              <h5 class="main-news-item__title">
                В Петербурге и Ленобласти вопросы иностранцев решаетт Ассоциация
                содействия международной трудовой миграции
              </h5>
              <p class="main-news-item__text">
                В Петербурге и Ленобласти разработкой и внедрением в практику работы с иност...
              </p>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#" class="main-news-item">
              <span class="main-news-item__date">07.03.2023</span>
              <h5 class="main-news-item__title">
                Россия и страны Центральной Азии готовят соглашения о миграции
              </h5>
              <p class="main-news-item__text">
                Госорганы России, Узбекистана, Киргизии и Таджикистана ведут работу по подготовке межправительственных
                соглашений о миграции. Точная дата по...
              </p>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#" class="main-news-item">
              <span class="main-news-item__date">07.03.2023</span>
              <h5 class="main-news-item__title">
                Павильон «Узбекистан» на ВДНХ откроет двери в 2023 году
              </h5>
              <p class="main-news-item__text">
                На ВДНХ в этом году завершается реставрация национального павильона Узбекистана, также называемого
                "Культура". Всего будут открыты 15 объек...
              </p>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#" class="main-news-item">
              <span class="main-news-item__date">07.03.2023</span>
              <h5 class="main-news-item__title">
                Путин обсудил с Мирзиеевым партнерство России и Узбекистана
              </h5>
              <p class="main-news-item__text">
                Президент России Владимир Путин провел телефонный разговор с президентом Узбекистана Шавкатом
                Мирзиеевым. Об этом сообщила пресс-с...
              </p>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#" class="main-news-item">
              <span class="main-news-item__date">08.03.2023</span>
              <h5 class="main-news-item__title">
                В Петербурге и Ленобласти вопросы иностранцев решаетт Ассоциация
                содействия международной трудовой миграции
              </h5>
              <p class="main-news-item__text">
                В Петербурге и Ленобласти разработкой и внедрением в практику работы с иност...
              </p>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#" class="main-news-item">
              <span class="main-news-item__date">07.03.2023</span>
              <h5 class="main-news-item__title">
                Россия и страны Центральной Азии готовят соглашения о миграции
              </h5>
              <p class="main-news-item__text">
                Госорганы России, Узбекистана, Киргизии и Таджикистана ведут работу по подготовке межправительственных
                соглашений о миграции. Точная дата по...
              </p>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#" class="main-news-item">
              <span class="main-news-item__date">07.03.2023</span>
              <h5 class="main-news-item__title">
                Павильон «Узбекистан» на ВДНХ откроет двери в 2023 году
              </h5>
              <p class="main-news-item__text">
                На ВДНХ в этом году завершается реставрация национального павильона Узбекистана, также называемого
                "Культура". Всего будут открыты 15 объек...
              </p>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#" class="main-news-item">
              <span class="main-news-item__date">07.03.2023</span>
              <h5 class="main-news-item__title">
                Путин обсудил с Мирзиеевым партнерство России и Узбекистана
              </h5>
              <p class="main-news-item__text">
                Президент России Владимир Путин провел телефонный разговор с президентом Узбекистана Шавкатом
                Мирзиеевым. Об этом сообщила пресс-с...
              </p>
            </a>
          </div>
        </div>
      </div>

      <a href="#" class="main-news-link">
        Загрузить еще
      </a>
    </div>

    <div class="main-help">
      <h3 class="main-help__title">В помощь мигранту</h3>

      <a href="#" class="main-help-item">
        <div class="main-help-item__icon">
          <svg>
            <use href="#story-icon"></use>
          </svg>
        </div>
        <h5 class="main-help-item__title">Памятка трудовому мигранту</h5>
      </a>
      <a href="#" class="main-help-item">
        <div class="main-help-item__icon">
          <svg>
            <use href="#contact-icon"></use>
          </svg>
        </div>
        <h5 class="main-help-item__title">Полезные адреса и телефоны</h5>
      </a>
      <a href="#" class="main-help-item">
        <div class="main-help-item__icon">
          <svg>
            <use href="#auction-icon"></use>
          </svg>
        </div>
        <h5 class="main-help-item__title">Правовая информация</h5>
      </a>
      <a href="#" class="main-help-item">
        <div class="main-help-item__icon">
          <svg>
            <use href="#info-icon"></use>
          </svg>
        </div>
        <h5 class="main-help-item__title">Информационные материалы</h5>
      </a>
      <a href="#" class="main-help-item">
        <div class="main-help-item__icon">
          <svg>
            <use href="#question-icon"></use>
          </svg>
        </div>
        <h5 class="main-help-item__title">Часто задаваемые вопросы</h5>
      </a>
    </div>

    <div class="main-video">
      <div class="main-video__wrapper">
        <div class="main-video__img">
          <img src="./assets/images/main-video.jpg" alt="">
        </div>

        <div class="main-video__container">
          <h3 class="main-video__title">
            От прилёта до трудоустройства с помощью Ассоциации
          </h3>

          <div class="main-video__inner">
            <div class="main-video__text">
              <p>
                Краткое описание видео... Оказание поддержки, защиты интересов и методологической помощи организациям,
                оказание качественных миграционных услуг трудовым мигрантам, содействие работодателям в поиске
                работников
                из числа иностранных граждан
              </p>
            </div>

            <a href="#" class="main-top-btn main-video__link">
              Посмотреть на YouTube
              <span class="main-top-btn__icon">
                <svg>
                  <use href="#arrow-icon"></use>
                </svg>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="main-help main-help_2">
      <h3 class="main-help__title">Работодателю</h3>

      <a href="#" class="main-help-item">
        <div class="main-help-item__icon">
          <svg>
            <use href="#user-icon"></use>
          </svg>
        </div>
        <h5 class="main-help-item__title">Иностранный работник в организации</h5>
      </a>
      <a href="#" class="main-help-item">
        <div class="main-help-item__icon">
          <svg>
            <use href="#contact-icon"></use>
          </svg>
        </div>
        <h5 class="main-help-item__title">
          МЕДОСВИДЕТЕЛЬСТВОВАНИЕ ИНОСТРАННЫХ ГРАЖДАН <br>
          (изменения с 29.12.2021 года)
        </h5>
      </a>
      <a href="#" class="main-help-item">
        <div class="main-help-item__icon">
          <svg>
            <use href="#info-icon"></use>
          </svg>
        </div>
        <h5 class="main-help-item__title">Информационные материалы</h5>
      </a>
      <a href="#" class="main-help-item">
        <div class="main-help-item__icon">
          <svg>
            <use href="#question-icon"></use>
          </svg>
        </div>
        <h5 class="main-help-item__title">Часто задаваемые вопросы</h5>
      </a>
    </div>

    <div class="main-partners">
      <div class="main-partners__head">
        <h3 class="block-title main-partners__title">Партнеры</h3>

        <div class="swiper-btns">
          <button type="button" class="swiper-btns__btn swiper-btns__btn_prev">
            <svg>
              <use href="#arrow-icon"></use>
            </svg>
          </button>
          <button type="button" class="swiper-btns__btn swiper-btns__btn_next">
            <svg>
              <use href="#arrow-icon"></use>
            </svg>
          </button>
        </div>
      </div>

      <div class="swiper main-partners__swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="main-partners__item">
              <img src="./assets/images/main-partners-1.png" alt="">
            </div>
          </div>
          <div class="swiper-slide">
            <div class="main-partners__item">
              <img src="./assets/images/main-partners-2.png" alt="">
            </div>
          </div>
          <div class="swiper-slide">
            <div class="main-partners__item">
              <img src="./assets/images/main-partners-3.png" alt="">
            </div>
          </div>
          <div class="swiper-slide">
            <div class="main-partners__item">
              <img src="./assets/images/main-partners-4.png" alt="">
            </div>
          </div>
          <div class="swiper-slide">
            <div class="main-partners__item">
              <img src="./assets/images/main-partners-1.png" alt="">
            </div>
          </div>
          <div class="swiper-slide">
            <div class="main-partners__item">
              <img src="./assets/images/main-partners-2.png" alt="">
            </div>
          </div>
          <div class="swiper-slide">
            <div class="main-partners__item">
              <img src="./assets/images/main-partners-3.png" alt="">
            </div>
          </div>
          <div class="swiper-slide">
            <div class="main-partners__item">
              <img src="./assets/images/main-partners-4.png" alt="">
            </div>
          </div>
          <div class="swiper-slide">
            <div class="main-partners__item">
              <img src="./assets/images/main-partners-1.png" alt="">
            </div>
          </div>
          <div class="swiper-slide">
            <div class="main-partners__item">
              <img src="./assets/images/main-partners-2.png" alt="">
            </div>
          </div>
          <div class="swiper-slide">
            <div class="main-partners__item">
              <img src="./assets/images/main-partners-3.png" alt="">
            </div>
          </div>
          <div class="swiper-slide">
            <div class="main-partners__item">
              <img src="./assets/images/main-partners-4.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</section>