<nav class="menu">
  <div class="menu__bg"></div>

  <div class="menu__inner">
    <div class="container menu__container">

      <div class="menu-item">
        <a href="#" class="menu__link">Об Ассоциации</a>

        <div class="menu-item__list">
          <a href="#" class="menu-item__link">Миграционные центры</a>
          <a href="#" class="menu-item__link">Члены Ассоциации</a>
          <a href="#" class="menu-item__link">Документы-основания деятельности</a>
          <a href="#" class="menu-item__link">События</a>
          <a href="#" class="menu-item__link">Политика обработки персональных данных</a>
        </div>
      </div>

      <div class="menu-item">
        <a href="#" class="menu__link">Работнику</a>

        <div class="menu-item__list">
          <a href="#" class="menu-item__link">Правовая информация</a>
          <a href="#" class="menu-item__link">Часто задаваемые вопросы</a>
          <a href="#" class="menu-item__link">Информационные материалы</a>
          <a href="#" class="menu-item__link">Полезные адреса и телефоны</a>
          <a href="#" class="menu-item__link">Как оплатить НДФЛ по QR-коду</a>
          <a href="#" class="menu-item__link">Проверка квитанции по УИП</a>
          <a href="#" class="menu-item__link">Вакансии</a>
          <a href="#" class="menu-item__link">Полезные советы трудовому мигранту</a>
          <a href="#" class="menu-item__link">Как получить QR-код о вакцинации</a>
          <a href="#" class="menu-item__link">ВАЖНО! ИЗМЕНИЛИСЬ РЕКВИЗИТЫ ДЛЯ УПЛАТЫ НАЛОГА ЗА ПАТЕНТ</a>
        </div>
      </div>

      <div class="menu-item">
        <a href="#" class="menu__link">Работодателю</a>

        <div class="menu-item__list">
          <a href="#" class="menu-item__link">Иностранный работник в организации</a>
          <a href="#" class="menu-item__link">Часто задаваемые вопросы</a>
          <a href="#" class="menu-item__link">Информационные материалы</a>
          <a href="#" class="menu-item__link">МЕДОСВИДЕТЕЛЬСТВОВАНИЕ ИНОСТРАННЫХ ГРАЖДАН (изменения с 29.12.2021
            года)</a>
        </div>
      </div>

      <div class="menu-item">
        <a href="#" class="menu__link">Новости</a>
      </div>

      <div class="menu-item">
        <a href="#" class="menu__link">Контакты</a>
      </div>

      <div class="menu-social">
        <h5 class="menu-social__title">Мы в социальных сетях</h5>

        <div class="menu-social__inner">
          <a href="#" class="menu-social__link">
            <svg>
              <use href="#vk-icon"></use>
            </svg>
          </a>
          <a href="#" class="menu-social__link">
            <svg>
              <use href="#odnoklassniki-icon"></use>
            </svg>
          </a>
        </div>
      </div>

      <div class="menu-control">
        <button type="button" class="menu-control__btn">
          <svg>
            <use href="#login-icon"></use>
          </svg>
          Личный кабинет
        </button>
        <button type="button" class="menu-control__btn">
          <svg>
            <use href="#phone-icon"></use>
          </svg>
          Обратная связь
        </button>
      </div>
    </div>

  </div>
</nav>