<section class="news">
  <div class="container">

    <div class="page-nav">
      <a href="#" class="page-nav__link">Главная</a>
      <a href="#" class="page-nav__link">Новости</a>
      <a href="#" class="page-nav__link">Таджикистан попросит у РФ $20 млн на учебники для русскоязычных школ</a>
    </div>

    <h1 class="page-title news__title">
      Таджикистан попросит у РФ $20 млн на учебники для русскоязычных школ
    </h1>

    <div class="news__container">
      <div class="news__text">
        <p>
          Таджикистан занимается подготовкой проекта на 20 млн американских долларов по изданию учебников для средних
          школ, включая русскоязычные. Об этом сообщает РИА Новости
        </p>
        <p>
          Информацию подтвердил сопредседатель межпарламентской комиссии Совета Федерации России и Маджлиси милли
          Маджлиси Оли (верхней палаты парламента) Таджикистана Раджаббой Ахмадзода.
        </p>
        <p>
          По его словам, на территории Таджикистана возводится пять новых школ с обучением на русском языке.
        </p>
        <p>
          «Социальный проект мы подготовили для издания учебников. Нам где-то 20 млн, если на сумму американских
          долларов посчитать, где-то на 20 млн долларов нужны учебники для средних образовательных школ», — уточнил
          Ахмадзода.
        </p>
        <p>
          Он попросил поддержать данную инициативу.
        </p>
        <p>
          Ранее стало известно, что глава кабмина РФ Мишустин сообщил о рекордном объеме торговли между Россией и
          Таджикистаном в 2022 году.
        </p>
      </div>

      <div class="news__img">
        <img src="./assets/images/events-1.jpg" alt="">
      </div>

      <div class="news__text">
        <p>
          Таджикистан занимается подготовкой проекта на 20 млн американских долларов по изданию учебников для средних
          школ, включая русскоязычные. Об этом сообщает РИА Новости
        </p>
        <p>
          Информацию подтвердил сопредседатель межпарламентской комиссии Совета Федерации России и Маджлиси милли
          Маджлиси Оли (верхней палаты парламента) Таджикистана Раджаббой Ахмадзода.
        </p>
        <p>
          По его словам, на территории Таджикистана возводится пять новых школ с обучением на русском языке.
        </p>
        <p>
          «Социальный проект мы подготовили для издания учебников. Нам где-то 20 млн, если на сумму американских
          долларов посчитать, где-то на 20 млн долларов нужны учебники для средних образовательных школ», — уточнил
          Ахмадзода.
        </p>
        <p>
          Он попросил поддержать данную инициативу.
        </p>
        <p>
          Ранее стало известно, что глава кабмина РФ Мишустин сообщил о рекордном объеме торговли между Россией и
          Таджикистаном в 2022 году.
        </p>
      </div>
    </div>


    <div class="news-nav">
      <a href="#" class="news-nav-link">
        <span class="news-nav-link__icon">
          <svg>
            <use href="#arrow-icon"></use>
          </svg>
        </span>
        Заголовок предыдущей новости
      </a>

      <a href="#" class="news-nav-link">
        <span class="news-nav-link__icon">
          <svg>
            <use href="#arrow-icon"></use>
          </svg>
        </span>
        Заголовок следующей новости
      </a>
    </div>

  </div>
</section>