<section class="payment">
  <div class="container">

    <div class="page-nav">
      <a href="#" class="page-nav__link">Главная</a>
      <a href="#" class="page-nav__link">Работнику</a>
      <a href="#" class="page-nav__link">Как оплатить НДФЛ по QR-код</a>
    </div>

    <h1 class="page-title payment__title">
      Как оплатить НДФЛ по QR-код
    </h1>

    <div class="payment__container">
      <div class="payment-item">
        <button type="button" class="payment-item__btn">
          <img src="./assets/images/payment-1.png" alt="">
          Сбербанк
          <svg>
            <use href="#arrow-icon_drop"></use>
          </svg>
        </button>
        <div class="payment-item-info">
          <h3>Инструкция по оплате</h3>
          <br>
          <p>1. Нажмите кнопку ПЛАТЕЖИ</p>
          <img src="./assets/images/payment-info-1.jpg" alt="">
          <br>
          <p>2. Нажмите кнопку на первой странице ГОСПОШЛИНЫ, НАЛОГИ, БТИ</p>
          <img src="./assets/images/payment-info-2.jpg" alt="">
          <br>
          <p>3. Нажмите кнопку на второй странице НАЛОГ НА ДОХОДЫ ФИЗИЧЕСКИХ ЛИЦ В ВИДЕ ФИКСИРОВАННОГО АВАНСОВОГО
            ПЛАТЕЖА</p>
          <img src="./assets/images/payment-info-3.jpg" alt="">
          <br>
          <p>9. Не забудьте получить чек.</p>
          <p> ВАЖНО!!! ТЕРМИНАЛ СДАЧУ НЕ ДАЕТ!!!</p>
          <br>
          <h3>Памятка для плательщиков</h3>
          <p>
            В случае возникновения внештатной ситуации в платежном терминале АО Банк «ПСКБ» необходимо действовать
            следующим образом:
          </p>
          <p>1. При «зависании» денежной суммы в терминале можно:</p>
          <ul>
            <li>получить денежные средства в любом из отделений АО Банк «ПСКБ»;</li>
            <li>
              перевести «зависшие» денежные средства на карту АО Банк «ПСКБ» в случае наличия таковой карты,
              обратившись с описанием ситуации:
              <ul>
                <li>по бесплатному круглосуточному номеру 8-800-200-35-65;</li>
                <li>по адресу эл. почты support@pscb.ru;</li>
                <li>к администратору Миграционного центра.</li>
              </ul>
            </li>
            <li>
              перевести «зависшие» денежные средства на любой другой платеж, обратившись с описанием ситуации:
              <ul>
                <li>по бесплатному круглосуточному номеру 8-800-200-35-65;</li>
                <li>по адресу эл. почты support@pscb.ru;</li>
                <li>к администратору Миграционного центра.</li>
              </ul>
            </li>
          </ul>
          <p>2. При неполучении чека после совершения платежа можно получить подтверждение платежа, обратившись с
            описанием ситуации:</p>
          <ul>
            <li>в любое отделение АО Банк «ПСКБ»;</li>
            <li>по бесплатному круглосуточному номеру 8-800-200-35-65;</li>
            <li>по адресу эл. почты support@pscb.ru;</li>
            <li>к администратору Миграционного центра.</li>
          </ul>
          <p>3. В случае отмены ошибочно совершенного платежа можно обратиться с описанием ситуации:</p>
          <ul>
            <li>к администратору Миграционного центра</li>
          </ul>
          <p>Возврат денежных средств производится в отделениях Банка по следующим адресам:</p>
          <ul>
            <li>ул. Шпалерная, д. 42. Метро Чернышевская. Режим работы: Пн. - пт. 09.00-20.00</li>
            <li>ул. Цветочная, д. 25. Метро Электросила. Режим работы: Пн.- Чтв. 09.00-18.00, Пт. 09.00-17.00</li>
            <li>Б. Сампсониевский пр., д.76, д. 25. Метро Лесная. Режим работы: Пн.- Чтв. 09.00-18.00, Пт. 09.00-17.00
            </li>
          </ul>
          <p>ВАЖНО! Для возврата денежных средств при себе необходимо иметь паспорт и чек, полученный из терминала.
          </p>
          <p>ВАЖНО! С 01.07.2019г. отмена ошибочно совершенного платежа невозможна.</p>
        </div>
      </div>
      <div class="payment-item">
        <button type="button" class="payment-item__btn">
          <img src="./assets/images/payment-3.png" alt="">
          Сформировать QR-код
          <svg>
            <use href="#arrow-icon_drop"></use>
          </svg>
        </button>
        <div class="payment-item-info">
          <h3>Инструкция по оплате</h3>
          <br>
          <p>1. Нажмите кнопку ПЛАТЕЖИ</p>
          <img src="./assets/images/payment-info-1.jpg" alt="">
          <br>
          <p>2. Нажмите кнопку на первой странице ГОСПОШЛИНЫ, НАЛОГИ, БТИ</p>
          <img src="./assets/images/payment-info-2.jpg" alt="">
          <br>
          <p>3. Нажмите кнопку на второй странице НАЛОГ НА ДОХОДЫ ФИЗИЧЕСКИХ ЛИЦ В ВИДЕ ФИКСИРОВАННОГО АВАНСОВОГО
            ПЛАТЕЖА</p>
          <img src="./assets/images/payment-info-3.jpg" alt="">
          <br>
          <p>9. Не забудьте получить чек.</p>
          <p> ВАЖНО!!! ТЕРМИНАЛ СДАЧУ НЕ ДАЕТ!!!</p>
          <br>
          <h3>Памятка для плательщиков</h3>
          <p>
            В случае возникновения внештатной ситуации в платежном терминале АО Банк «ПСКБ» необходимо действовать
            следующим образом:
          </p>
          <p>1. При «зависании» денежной суммы в терминале можно:</p>
          <ul>
            <li>получить денежные средства в любом из отделений АО Банк «ПСКБ»;</li>
            <li>
              перевести «зависшие» денежные средства на карту АО Банк «ПСКБ» в случае наличия таковой карты,
              обратившись с описанием ситуации:
              <ul>
                <li>по бесплатному круглосуточному номеру 8-800-200-35-65;</li>
                <li>по адресу эл. почты support@pscb.ru;</li>
                <li>к администратору Миграционного центра.</li>
              </ul>
            </li>
            <li>
              перевести «зависшие» денежные средства на любой другой платеж, обратившись с описанием ситуации:
              <ul>
                <li>по бесплатному круглосуточному номеру 8-800-200-35-65;</li>
                <li>по адресу эл. почты support@pscb.ru;</li>
                <li>к администратору Миграционного центра.</li>
              </ul>
            </li>
          </ul>
          <p>2. При неполучении чека после совершения платежа можно получить подтверждение платежа, обратившись с
            описанием ситуации:</p>
          <ul>
            <li>в любое отделение АО Банк «ПСКБ»;</li>
            <li>по бесплатному круглосуточному номеру 8-800-200-35-65;</li>
            <li>по адресу эл. почты support@pscb.ru;</li>
            <li>к администратору Миграционного центра.</li>
          </ul>
          <p>3. В случае отмены ошибочно совершенного платежа можно обратиться с описанием ситуации:</p>
          <ul>
            <li>к администратору Миграционного центра</li>
          </ul>
          <p>Возврат денежных средств производится в отделениях Банка по следующим адресам:</p>
          <ul>
            <li>ул. Шпалерная, д. 42. Метро Чернышевская. Режим работы: Пн. - пт. 09.00-20.00</li>
            <li>ул. Цветочная, д. 25. Метро Электросила. Режим работы: Пн.- Чтв. 09.00-18.00, Пт. 09.00-17.00</li>
            <li>Б. Сампсониевский пр., д.76, д. 25. Метро Лесная. Режим работы: Пн.- Чтв. 09.00-18.00, Пт. 09.00-17.00
            </li>
          </ul>
          <p>ВАЖНО! Для возврата денежных средств при себе необходимо иметь паспорт и чек, полученный из терминала.
          </p>
          <p>ВАЖНО! С 01.07.2019г. отмена ошибочно совершенного платежа невозможна.</p>
        </div>
      </div>
      <div class="payment-item">
        <button type="button" class="payment-item__btn">
          <img src="./assets/images/payment-2.png" alt="">
          ПСКБ банк
          <svg>
            <use href="#arrow-icon_drop"></use>
          </svg>
        </button>
        <div class="payment-item-info">
          <h3>Инструкция по оплате</h3>
          <br>
          <p>1. Нажмите кнопку ПЛАТЕЖИ</p>
          <img src="./assets/images/payment-info-1.jpg" alt="">
          <br>
          <p>2. Нажмите кнопку на первой странице ГОСПОШЛИНЫ, НАЛОГИ, БТИ</p>
          <img src="./assets/images/payment-info-2.jpg" alt="">
          <br>
          <p>3. Нажмите кнопку на второй странице НАЛОГ НА ДОХОДЫ ФИЗИЧЕСКИХ ЛИЦ В ВИДЕ ФИКСИРОВАННОГО АВАНСОВОГО
            ПЛАТЕЖА</p>
          <img src="./assets/images/payment-info-3.jpg" alt="">
          <br>
          <p>9. Не забудьте получить чек.</p>
          <p> ВАЖНО!!! ТЕРМИНАЛ СДАЧУ НЕ ДАЕТ!!!</p>
          <br>
          <h3>Памятка для плательщиков</h3>
          <p>
            В случае возникновения внештатной ситуации в платежном терминале АО Банк «ПСКБ» необходимо действовать
            следующим образом:
          </p>
          <p>1. При «зависании» денежной суммы в терминале можно:</p>
          <ul>
            <li>получить денежные средства в любом из отделений АО Банк «ПСКБ»;</li>
            <li>
              перевести «зависшие» денежные средства на карту АО Банк «ПСКБ» в случае наличия таковой карты,
              обратившись с описанием ситуации:
              <ul>
                <li>по бесплатному круглосуточному номеру 8-800-200-35-65;</li>
                <li>по адресу эл. почты support@pscb.ru;</li>
                <li>к администратору Миграционного центра.</li>
              </ul>
            </li>
            <li>
              перевести «зависшие» денежные средства на любой другой платеж, обратившись с описанием ситуации:
              <ul>
                <li>по бесплатному круглосуточному номеру 8-800-200-35-65;</li>
                <li>по адресу эл. почты support@pscb.ru;</li>
                <li>к администратору Миграционного центра.</li>
              </ul>
            </li>
          </ul>
          <p>2. При неполучении чека после совершения платежа можно получить подтверждение платежа, обратившись с
            описанием ситуации:</p>
          <ul>
            <li>в любое отделение АО Банк «ПСКБ»;</li>
            <li>по бесплатному круглосуточному номеру 8-800-200-35-65;</li>
            <li>по адресу эл. почты support@pscb.ru;</li>
            <li>к администратору Миграционного центра.</li>
          </ul>
          <p>3. В случае отмены ошибочно совершенного платежа можно обратиться с описанием ситуации:</p>
          <ul>
            <li>к администратору Миграционного центра</li>
          </ul>
          <p>Возврат денежных средств производится в отделениях Банка по следующим адресам:</p>
          <ul>
            <li>ул. Шпалерная, д. 42. Метро Чернышевская. Режим работы: Пн. - пт. 09.00-20.00</li>
            <li>ул. Цветочная, д. 25. Метро Электросила. Режим работы: Пн.- Чтв. 09.00-18.00, Пт. 09.00-17.00</li>
            <li>Б. Сампсониевский пр., д.76, д. 25. Метро Лесная. Режим работы: Пн.- Чтв. 09.00-18.00, Пт. 09.00-17.00
            </li>
          </ul>
          <p>ВАЖНО! Для возврата денежных средств при себе необходимо иметь паспорт и чек, полученный из терминала.
          </p>
          <p>ВАЖНО! С 01.07.2019г. отмена ошибочно совершенного платежа невозможна.</p>
        </div>
      </div>
    </div>

  </div>
</section>