<section class="questions">
  <div class="container">

    <div class="page-nav">
      <a href="#" class="page-nav__link">Главная</a>
      <a href="#" class="page-nav__link">Работнику</a>
      <a href="#" class="page-nav__link">Часто задаваемые вопросы</a>
    </div>

    <h1 class="page-title questions__title">
      Часто задаваемые вопросы
    </h1>

    <div class="questions__container">

      <div class="questions__nav">
        <div class="questions-item">
          <button type="button" class="questions-item__btn">
            В какой период мне надо встать на миграционный учет?
            <svg>
              <use href="#arrow-icon_drop"></use>
            </svg>
          </button>
          <div class="questions-item__content">
            <p>
              Для получения патента иностранный гражданин в течение тридцати календарных дней со дня въезда в Российскую
              Федерацию представляет лично в территориальный орган федерального органа исполнительной власти в сфере
              миграции следующие документы:
            </p>
            <ul>
              <li>Заявление о выдаче патента;</li>
              <li>Паспорт и нотариально заверенный перевод паспорта;</li>
              <li>Полис добровольного медицинского страхования, действующий на территории РФ;</li>
              <li>Медицинские документы, подтверждающие отсутствие заболевания наркоманией и инфекционных заболеваний,
                сертификат об отсутствии ВИЧ-инфекции;</li>
              <li>Сертификат о владении русским языком, знании истории России и основ законодательства РФ;</li>
              <li>Миграционная карта с указанной целью визита «работа»;</li>
              <li>Уведомление о постановке на миграционный учет;</li>
              <li>Документы, подтверждающие оплату налога на доходы физических лиц.</li>
            </ul>
          </div>
        </div>
        <div class="questions-item">
          <button type="button" class="questions-item__btn">
            Что делать если потерял миграционную карту?
            <svg>
              <use href="#arrow-icon_drop"></use>
            </svg>
          </button>
          <div class="questions-item__content">
            <p>
              Для получения патента иностранный гражданин в течение тридцати календарных дней со дня въезда в Российскую
              Федерацию представляет лично в территориальный орган федерального органа исполнительной власти в сфере
              миграции следующие документы:
              Заявление о выдаче патента;
              Паспорт и нотариально заверенный перевод паспорта;
              Полис добровольного медицинского страхования, действующий на территории РФ;
              Медицинские документы, подтверждающие отсутствие заболевания наркоманией и инфекционных заболеваний,
              сертификат об отсутствии ВИЧ-инфекции;
              Сертификат о владении русским языком, знании истории России и основ законодательства РФ;
              Миграционная карта с указанной целью визита «работа»;
              Уведомление о постановке на миграционный учет;
              Документы, подтверждающие оплату налога на доходы физических лиц.
            </p>
          </div>
        </div>
        <div class="questions-item">
          <button type="button" class="questions-item__btn">
            Нужно ли мне сохранять миграционную карту по приезду в Россию?
            <svg>
              <use href="#arrow-icon_drop"></use>
            </svg>
          </button>
          <div class="questions-item__content">
            <p>
              Для получения патента иностранный гражданин в течение тридцати календарных дней со дня въезда в Российскую
              Федерацию представляет лично в территориальный орган федерального органа исполнительной власти в сфере
              миграции следующие документы:
              Заявление о выдаче патента;
              Паспорт и нотариально заверенный перевод паспорта;
              Полис добровольного медицинского страхования, действующий на территории РФ;
              Медицинские документы, подтверждающие отсутствие заболевания наркоманией и инфекционных заболеваний,
              сертификат об отсутствии ВИЧ-инфекции;
              Сертификат о владении русским языком, знании истории России и основ законодательства РФ;
              Миграционная карта с указанной целью визита «работа»;
              Уведомление о постановке на миграционный учет;
              Документы, подтверждающие оплату налога на доходы физических лиц.
            </p>
          </div>
        </div>
        <div class="questions-item">
          <button type="button" class="questions-item__btn">
            В течение какого времени мне нужно оформить патент? Какие документы для этого нужны?
            <svg>
              <use href="#arrow-icon_drop"></use>
            </svg>
          </button>
          <div class="questions-item__content">
            <p>
              Для получения патента иностранный гражданин в течение тридцати календарных дней со дня въезда в Российскую
              Федерацию представляет лично в территориальный орган федерального органа исполнительной власти в сфере
              миграции следующие документы:
              Заявление о выдаче патента;
              Паспорт и нотариально заверенный перевод паспорта;
              Полис добровольного медицинского страхования, действующий на территории РФ;
              Медицинские документы, подтверждающие отсутствие заболевания наркоманией и инфекционных заболеваний,
              сертификат об отсутствии ВИЧ-инфекции;
              Сертификат о владении русским языком, знании истории России и основ законодательства РФ;
              Миграционная карта с указанной целью визита «работа»;
              Уведомление о постановке на миграционный учет;
              Документы, подтверждающие оплату налога на доходы физических лиц.
            </p>
          </div>
        </div>
        <div class="questions-item">
          <button type="button" class="questions-item__btn">
            В какие сроки нужно уплачивать налог по патенту?
            <svg>
              <use href="#arrow-icon_drop"></use>
            </svg>
          </button>
          <div class="questions-item__content">
            <p>
              Для получения патента иностранный гражданин в течение тридцати календарных дней со дня въезда в Российскую
              Федерацию представляет лично в территориальный орган федерального органа исполнительной власти в сфере
              миграции следующие документы:
              Заявление о выдаче патента;
              Паспорт и нотариально заверенный перевод паспорта;
              Полис добровольного медицинского страхования, действующий на территории РФ;
              Медицинские документы, подтверждающие отсутствие заболевания наркоманией и инфекционных заболеваний,
              сертификат об отсутствии ВИЧ-инфекции;
              Сертификат о владении русским языком, знании истории России и основ законодательства РФ;
              Миграционная карта с указанной целью визита «работа»;
              Уведомление о постановке на миграционный учет;
              Документы, подтверждающие оплату налога на доходы физических лиц.
            </p>
          </div>
        </div>
        <div class="questions-item">
          <button type="button" class="questions-item__btn">
            Могу ли я работать вне субъекта Российской Федерации, где я получил патент?
            <svg>
              <use href="#arrow-icon_drop"></use>
            </svg>
          </button>
          <div class="questions-item__content">
            <p>
              Для получения патента иностранный гражданин в течение тридцати календарных дней со дня въезда в Российскую
              Федерацию представляет лично в территориальный орган федерального органа исполнительной власти в сфере
              миграции следующие документы:
              Заявление о выдаче патента;
              Паспорт и нотариально заверенный перевод паспорта;
              Полис добровольного медицинского страхования, действующий на территории РФ;
              Медицинские документы, подтверждающие отсутствие заболевания наркоманией и инфекционных заболеваний,
              сертификат об отсутствии ВИЧ-инфекции;
              Сертификат о владении русским языком, знании истории России и основ законодательства РФ;
              Миграционная карта с указанной целью визита «работа»;
              Уведомление о постановке на миграционный учет;
              Документы, подтверждающие оплату налога на доходы физических лиц.
            </p>
          </div>
        </div>
        <div class="questions-item">
          <button type="button" class="questions-item__btn">
            Кто может исполнять обязанности по постановке иностранного гражданина на миграционный учет?
            <svg>
              <use href="#arrow-icon_drop"></use>
            </svg>
          </button>
          <div class="questions-item__content">
            <p>
              Для получения патента иностранный гражданин в течение тридцати календарных дней со дня въезда в Российскую
              Федерацию представляет лично в территориальный орган федерального органа исполнительной власти в сфере
              миграции следующие документы:
              Заявление о выдаче патента;
              Паспорт и нотариально заверенный перевод паспорта;
              Полис добровольного медицинского страхования, действующий на территории РФ;
              Медицинские документы, подтверждающие отсутствие заболевания наркоманией и инфекционных заболеваний,
              сертификат об отсутствии ВИЧ-инфекции;
              Сертификат о владении русским языком, знании истории России и основ законодательства РФ;
              Миграционная карта с указанной целью визита «работа»;
              Уведомление о постановке на миграционный учет;
              Документы, подтверждающие оплату налога на доходы физических лиц.
            </p>
          </div>
        </div>
        <div class="questions-item">
          <button type="button" class="questions-item__btn">
            Какие документы обязан выдать мне на руки работодатель при приёме на работу?
            <svg>
              <use href="#arrow-icon_drop"></use>
            </svg>
          </button>
          <div class="questions-item__content">
            <p>
              Для получения патента иностранный гражданин в течение тридцати календарных дней со дня въезда в Российскую
              Федерацию представляет лично в территориальный орган федерального органа исполнительной власти в сфере
              миграции следующие документы:
              Заявление о выдаче патента;
              Паспорт и нотариально заверенный перевод паспорта;
              Полис добровольного медицинского страхования, действующий на территории РФ;
              Медицинские документы, подтверждающие отсутствие заболевания наркоманией и инфекционных заболеваний,
              сертификат об отсутствии ВИЧ-инфекции;
              Сертификат о владении русским языком, знании истории России и основ законодательства РФ;
              Миграционная карта с указанной целью визита «работа»;
              Уведомление о постановке на миграционный учет;
              Документы, подтверждающие оплату налога на доходы физических лиц.
            </p>
          </div>
        </div>
        <div class="questions-item">
          <button type="button" class="questions-item__btn">
            Как нужно подготовиться к прохождению медицинского освидетельствования с целью получения патента?
            <svg>
              <use href="#arrow-icon_drop"></use>
            </svg>
          </button>
          <div class="questions-item__content">
            <p>
              Для получения патента иностранный гражданин в течение тридцати календарных дней со дня въезда в Российскую
              Федерацию представляет лично в территориальный орган федерального органа исполнительной власти в сфере
              миграции следующие документы:
              Заявление о выдаче патента;
              Паспорт и нотариально заверенный перевод паспорта;
              Полис добровольного медицинского страхования, действующий на территории РФ;
              Медицинские документы, подтверждающие отсутствие заболевания наркоманией и инфекционных заболеваний,
              сертификат об отсутствии ВИЧ-инфекции;
              Сертификат о владении русским языком, знании истории России и основ законодательства РФ;
              Миграционная карта с указанной целью визита «работа»;
              Уведомление о постановке на миграционный учет;
              Документы, подтверждающие оплату налога на доходы физических лиц.
            </p>
          </div>
        </div>
        <div class="questions-item">
          <button type="button" class="questions-item__btn">
            Что я должен знать о тестировании на знание русского языка, истории и законодательства РФ, необходимом для
            получения патента?
            <svg>
              <use href="#arrow-icon_drop"></use>
            </svg>
          </button>
          <div class="questions-item__content">
            <p>
              Для получения патента иностранный гражданин в течение тридцати календарных дней со дня въезда в Российскую
              Федерацию представляет лично в территориальный орган федерального органа исполнительной власти в сфере
              миграции следующие документы:
              Заявление о выдаче патента;
              Паспорт и нотариально заверенный перевод паспорта;
              Полис добровольного медицинского страхования, действующий на территории РФ;
              Медицинские документы, подтверждающие отсутствие заболевания наркоманией и инфекционных заболеваний,
              сертификат об отсутствии ВИЧ-инфекции;
              Сертификат о владении русским языком, знании истории России и основ законодательства РФ;
              Миграционная карта с указанной целью визита «работа»;
              Уведомление о постановке на миграционный учет;
              Документы, подтверждающие оплату налога на доходы физических лиц.
            </p>
          </div>
        </div>
      </div>

      <div class="swiper questions-swiper">
        <div class="swiper-wrapper">
        </div>
      </div>

    </div>

  </div>
</section>