<section class="vacancy">
  <div class="container">

    <div class="page-nav">
      <a href="#" class="page-nav__link">Главная</a>
      <a href="#" class="page-nav__link">Работнику</a>
      <a href="#" class="page-nav__link">Вакансии</a>
    </div>

    <h1 class="page-title vacancy__title">
      Вакансии
    </h1>

    <div class="vacancy__container">
      <div class="vacancy-item">
        <div class="vacancy-item__container">
          <div class="vacancy-item__img">
            <img src="./assets/images/vacancy-1.jpg" alt="">
          </div>
          <div class="vacancy-item__inner">
            <h3 class="vacancy-item__title">ООО ТД "Диаком"</h3>
            <div class="vacancy-item-info">
              <div class="vacancy-item-info__item">
                <h5 class="vacancy-item-info__title">Должность:</h5>
                <p class="vacancy-item-info__text">Плотник/строитель</p>
              </div>
              <div class="vacancy-item-info__item">
                <h5 class="vacancy-item-info__title">Заработная плата:</h5>
                <p class="vacancy-item-info__text">Сдельная</p>
              </div>
            </div>
            <p class="vacancy-item__date">Опубликовано: 22.12.2022</p>

            <button type="button" class="vacancy-item__btn">
              Свернуть
              <svg>
                <use href="#arrow-icon_drop"></use>
              </svg>
            </button>
          </div>
        </div>
        <div class="vacancy-item__description">
          <div class="vacancy-item__text">
            <h4>О компании</h4>
            <p>
              ООО ТД "Диаком" осуществляет производство металлоконструкций: ангары, модульные здания, блок контейнера,
              профнастила и доборных элементов, малоэтажное строительство. Мы производим бытовки и другие здания
              мобильного типа достаточно давно и научились досконально изучать предпочтения заказчиков и предлагать
              только
              качественные решения. В данный момент компания «Диаком» может предложить самые различные виды бытовых
              конструкций.
            </p>
          </div>
          <div class="vacancy-item__text">
            <h4>Предоставляется:</h4>
            <ul>
              <li>заработная плата полностью сделка;</li>
              <li>выплаты заработной платы 2 раза в месяц (аванс и заработная плата);</li>
              <li>официальное оформление;</li>
              <li>возможность проживания за счет работодателя;</li>
              <li>гражданство любое.</li>
            </ul>
          </div>
          <div class="vacancy-item__text">
            <h4>Обязанности:</h4>
            <p>
              Устройство деревянного каркаса наружных стен и перегородок, закладка мин.ваты, обшивка стен элементами
              внутренней отделки (вагонка, оргалит, пластик, МДФ, профлист), установка окон и дверей. Работа без
              сварки,
              без
              электрики. Размер бытовки 2,4 х 6 м.
            </p>
          </div>
          <div class="vacancy-item__text">
            <h4>Требования:</h4>
            <p>
              Рассматриваем кандидатов с опытом по профессии: плотник, монтажник, каркасник.
              Навыки использования бензо и электроинструмента.
            </p>
          </div>
          <div class="vacancy-item__text">
            <h4>Место работы:</h4>
            <p>
              Производство находится в Ленинградской области, Всеволожский р-н, д.Старая.
            </p>
          </div>
          <div class="vacancy-item__text">
            <h4>Контакты для связи с работодателем:</h4>
            <p>
              Санкт-Петербург: <br>
              +7-812-448-08-63, доб. 504 <br>
              8-931-242-78-01
            </p>
          </div>
        </div>
      </div>
      <div class="vacancy-item">
        <div class="vacancy-item__container">
          <div class="vacancy-item__img">
            <img src="./assets/images/vacancy-1.jpg" alt="">
          </div>
          <div class="vacancy-item__inner">
            <h3 class="vacancy-item__title">ООО ТД "Диаком"</h3>
            <div class="vacancy-item-info">
              <div class="vacancy-item-info__item">
                <h5 class="vacancy-item-info__title">Должность:</h5>
                <p class="vacancy-item-info__text">Плотник/строитель</p>
              </div>
              <div class="vacancy-item-info__item">
                <h5 class="vacancy-item-info__title">Заработная плата:</h5>
                <p class="vacancy-item-info__text">Сдельная</p>
              </div>
            </div>
            <p class="vacancy-item__date">Опубликовано: 22.12.2022</p>

            <button type="button" class="vacancy-item__btn">
              Свернуть
              <svg>
                <use href="#arrow-icon_drop"></use>
              </svg>
            </button>
          </div>
        </div>
        <div class="vacancy-item__description">
          <div class="vacancy-item__text">
            <h4>О компании</h4>
            <p>
              ООО ТД "Диаком" осуществляет производство металлоконструкций: ангары, модульные здания, блок контейнера,
              профнастила и доборных элементов, малоэтажное строительство. Мы производим бытовки и другие здания
              мобильного типа достаточно давно и научились досконально изучать предпочтения заказчиков и предлагать
              только
              качественные решения. В данный момент компания «Диаком» может предложить самые различные виды бытовых
              конструкций.
            </p>
          </div>
          <div class="vacancy-item__text">
            <h4>Предоставляется:</h4>
            <ul>
              <li>заработная плата полностью сделка;</li>
              <li>выплаты заработной платы 2 раза в месяц (аванс и заработная плата);</li>
              <li>официальное оформление;</li>
              <li>возможность проживания за счет работодателя;</li>
              <li>гражданство любое.</li>
            </ul>
          </div>
          <div class="vacancy-item__text">
            <h4>Обязанности:</h4>
            <p>
              Устройство деревянного каркаса наружных стен и перегородок, закладка мин.ваты, обшивка стен элементами
              внутренней отделки (вагонка, оргалит, пластик, МДФ, профлист), установка окон и дверей. Работа без
              сварки,
              без
              электрики. Размер бытовки 2,4 х 6 м.
            </p>
          </div>
          <div class="vacancy-item__text">
            <h4>Требования:</h4>
            <p>
              Рассматриваем кандидатов с опытом по профессии: плотник, монтажник, каркасник.
              Навыки использования бензо и электроинструмента.
            </p>
          </div>
          <div class="vacancy-item__text">
            <h4>Место работы:</h4>
            <p>
              Производство находится в Ленинградской области, Всеволожский р-н, д.Старая.
            </p>
          </div>
          <div class="vacancy-item__text">
            <h4>Контакты для связи с работодателем:</h4>
            <p>
              Санкт-Петербург: <br>
              +7-812-448-08-63, доб. 504 <br>
              8-931-242-78-01
            </p>
          </div>
        </div>
      </div>

      <div class="vacancy-item">
        <div class="vacancy-item__container">
          <div class="vacancy-item__img">
            <img src="./assets/images/vacancy-2.jpg" alt="">
          </div>
          <div class="vacancy-item__inner">
            <h3 class="vacancy-item__title">Кафе “Слойка”</h3>
            <div class="vacancy-item-info">
              <div class="vacancy-item-info__item">
                <h5 class="vacancy-item-info__title">Должность:</h5>
                <p class="vacancy-item-info__text">Плотник/строитель</p>
              </div>
              <div class="vacancy-item-info__item">
                <h5 class="vacancy-item-info__title">Заработная плата:</h5>
                <p class="vacancy-item-info__text">От 25 0000 руб.</p>
              </div>
            </div>
            <p class="vacancy-item__date">Опубликовано: 22.12.2022</p>

            <button type="button" class="vacancy-item__btn">
              Свернуть
              <svg>
                <use href="#arrow-icon_drop"></use>
              </svg>
            </button>
          </div>
        </div>
        <div class="vacancy-item__description">
          <div class="vacancy-item__text">
            <h4>О компании</h4>
            <p>
              ООО ТД "Диаком" осуществляет производство металлоконструкций: ангары, модульные здания, блок контейнера,
              профнастила и доборных элементов, малоэтажное строительство. Мы производим бытовки и другие здания
              мобильного типа достаточно давно и научились досконально изучать предпочтения заказчиков и предлагать
              только
              качественные решения. В данный момент компания «Диаком» может предложить самые различные виды бытовых
              конструкций.
            </p>
          </div>
          <div class="vacancy-item__text">
            <h4>Предоставляется:</h4>
            <ul>
              <li>заработная плата полностью сделка;</li>
              <li>выплаты заработной платы 2 раза в месяц (аванс и заработная плата);</li>
              <li>официальное оформление;</li>
              <li>возможность проживания за счет работодателя;</li>
              <li>гражданство любое.</li>
            </ul>
          </div>
          <div class="vacancy-item__text">
            <h4>Обязанности:</h4>
            <p>
              Устройство деревянного каркаса наружных стен и перегородок, закладка мин.ваты, обшивка стен элементами
              внутренней отделки (вагонка, оргалит, пластик, МДФ, профлист), установка окон и дверей. Работа без
              сварки,
              без
              электрики. Размер бытовки 2,4 х 6 м.
            </p>
          </div>
          <div class="vacancy-item__text">
            <h4>Требования:</h4>
            <p>
              Рассматриваем кандидатов с опытом по профессии: плотник, монтажник, каркасник.
              Навыки использования бензо и электроинструмента.
            </p>
          </div>
          <div class="vacancy-item__text">
            <h4>Место работы:</h4>
            <p>
              Производство находится в Ленинградской области, Всеволожский р-н, д.Старая.
            </p>
          </div>
          <div class="vacancy-item__text">
            <h4>Контакты для связи с работодателем:</h4>
            <p>
              Санкт-Петербург: <br>
              +7-812-448-08-63, доб. 504 <br>
              8-931-242-78-01
            </p>
          </div>
        </div>
      </div>
      <div class="vacancy-item">
        <div class="vacancy-item__container">
          <div class="vacancy-item__img">
            <img src="./assets/images/vacancy-2.jpg" alt="">
          </div>
          <div class="vacancy-item__inner">
            <h3 class="vacancy-item__title">Кафе “Слойка”</h3>
            <div class="vacancy-item-info">
              <div class="vacancy-item-info__item">
                <h5 class="vacancy-item-info__title">Должность:</h5>
                <p class="vacancy-item-info__text">Плотник/строитель</p>
              </div>
              <div class="vacancy-item-info__item">
                <h5 class="vacancy-item-info__title">Заработная плата:</h5>
                <p class="vacancy-item-info__text">От 25 0000 руб.</p>
              </div>
            </div>
            <p class="vacancy-item__date">Опубликовано: 22.12.2022</p>

            <button type="button" class="vacancy-item__btn">
              Свернуть
              <svg>
                <use href="#arrow-icon_drop"></use>
              </svg>
            </button>
          </div>
        </div>
        <div class="vacancy-item__description">
          <div class="vacancy-item__text">
            <h4>О компании</h4>
            <p>
              ООО ТД "Диаком" осуществляет производство металлоконструкций: ангары, модульные здания, блок контейнера,
              профнастила и доборных элементов, малоэтажное строительство. Мы производим бытовки и другие здания
              мобильного типа достаточно давно и научились досконально изучать предпочтения заказчиков и предлагать
              только
              качественные решения. В данный момент компания «Диаком» может предложить самые различные виды бытовых
              конструкций.
            </p>
          </div>
          <div class="vacancy-item__text">
            <h4>Предоставляется:</h4>
            <ul>
              <li>заработная плата полностью сделка;</li>
              <li>выплаты заработной платы 2 раза в месяц (аванс и заработная плата);</li>
              <li>официальное оформление;</li>
              <li>возможность проживания за счет работодателя;</li>
              <li>гражданство любое.</li>
            </ul>
          </div>
          <div class="vacancy-item__text">
            <h4>Обязанности:</h4>
            <p>
              Устройство деревянного каркаса наружных стен и перегородок, закладка мин.ваты, обшивка стен элементами
              внутренней отделки (вагонка, оргалит, пластик, МДФ, профлист), установка окон и дверей. Работа без
              сварки,
              без
              электрики. Размер бытовки 2,4 х 6 м.
            </p>
          </div>
          <div class="vacancy-item__text">
            <h4>Требования:</h4>
            <p>
              Рассматриваем кандидатов с опытом по профессии: плотник, монтажник, каркасник.
              Навыки использования бензо и электроинструмента.
            </p>
          </div>
          <div class="vacancy-item__text">
            <h4>Место работы:</h4>
            <p>
              Производство находится в Ленинградской области, Всеволожский р-н, д.Старая.
            </p>
          </div>
          <div class="vacancy-item__text">
            <h4>Контакты для связи с работодателем:</h4>
            <p>
              Санкт-Петербург: <br>
              +7-812-448-08-63, доб. 504 <br>
              8-931-242-78-01
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>